[2020-06-20 15:09] alex19EP commented on #138
please lets stay on topic. it may not be critical for you, but not for the author.

[2020-06-20 15:10] zvezdochiot commented on #138
@dmikushin say:

Могу:
* #140
* https://github.com/Olga-Yakovleva/RHVoice/issues/110#issuecomment-533900712

[2020-06-20 15:20] zvezdochiot commented on #138
@alex19EP say:

@x8973 say:

А я говорю - восстановить "трубу" и issue станет некритична совсем.

[2020-06-20 15:24] Olga-Yakovleva commented on #68
My email address should now be shown on my profile page, the question of the license was answered, and the question of creation of new voices is a separate topic, so closing.

[2020-06-20 15:24] #68 closed

[2020-06-20 15:44] Olga-Yakovleva commented on #109
The license of the voice is problematic. Please see the corresponding section [here](https://github.com/Olga-Yakovleva/RHVoice/wiki/License). Packagers have to decide for themselves. Georgian can be enabled at build-time..

[2020-06-20 15:44] #109 closed

[2020-06-20 16:09] x8973 commented on #138
Если речь идет о файле конфигурации /usr/local/etc/RHVoice/RHVoice.conf, то после пересборки и установки библиотеки я его не трогал. Насколько могу судить, его содержимое сейчас не отличается от дефолтного.
Я использую для синтеза голос Anna, так как только он и Aleksandr согласились озвучивать кириллический текст. Кстати, я заметил, что указание `voice_profiles=Anna+CLB,Aleksandr+Alan`
не приводи

[2020-06-20 17:26] alex19EP commented on #52
@Olga-Yakovleva profile now shows her email for github users so closing the issue.

[2020-06-20 17:26] #52 closed

[2020-06-20 18:27] dmikushin commented on #138
@x8973 Thanks, interesting! May I kindly ask you to check which sound backend are you using? RHVoice supports 3 different audio backends: libao, pulse, portaudio. I could very well broke another one, while fixing PortAudio.

[2020-06-20 18:37] x8973 commented on #138
Я тестирую на Raspberry Pi 1 model B, ОС Raspbian Buster Lite. Установлены libpulse-simple и libao.

[2020-06-21 13:39] alex19EP commented on #141
hello @yuukiw i tried to reproduce but didn’t succeed. you can recheck. and provide detailed repro-steps.
thanks.

[2020-06-21 13:55] yuukiw commented on #141
Cant reproduce it either on the newest windows version.

So it could have beem a MS issue that only appeared when you changed something in relation with the tts voice/engine.

[2020-06-21 13:55] #141 closed

[2020-06-21 14:51] Olga-Yakovleva commented on #17
Does anyone know if Ukrainian texts use the same character to indicate stress?

[2020-06-21 14:56] alex19EP commented on #17
FYI @velmyshanovnyi

[2020-06-21 19:10] velmyshanovnyi commented on #17
в УКР текстах, по стандарту используется U+0301, но как и написано выше, может быть использован и U+0300 или другие аналогично выглядевшие символы. Юзеры часто путаит из, или по незнанию али по привычке.

так что могут быть использованы не только левый/правый, но и прямой
` или ' и иногда даже прямые кавычки "

и не стоит сбрасывась со счетов так же апострофы, для которых юзерами могут быть испрол

[2020-06-21 19:17] velmyshanovnyi commented on #17
мясо
м'ясо
м`ясо
м"ясо
мЯсо

все варианты могут быть использованы в тексте, в зависимости от того, кто именно и где пишет текст.

(на телефонах юзер не парится, и может юзать тот знак, который ему проще поставить, на его клавиатуре, а иногда и просто его проигнорировать, как в первом слове)

[2020-06-22 17:38] Olga-Yakovleva commented on #140
Sorry, didn't realize that the word fix in my commit message would
close this automatically. Please test and reopen if there are still problems.

[2020-06-22 20:22] zvezdochiot commented on #140
Привет @Olga-Yakovleva .

Проблема решена. "Труба" снова работает. :+1:

[2020-06-22 20:22] #140 closed

[2020-06-24 14:28] Ygarr commented on #120
Just a moments, with new interface saw it just now

[2020-06-25 14:57] techtonik commented on #125
I noticed that the repo size got bigger too. I used to think that RHVoice is a small neat synthesizer, but now it looks bloated on my disk even if the binary is small. =)

I would still keep data in a separate dir, but I am no sure that it is possible now without breaking everyone's forks.

[2020-06-25 16:11] KOLANICH commented on #125
Then we should break them!

[2020-06-28 17:01] djdance commented on #132
работает, спасибо!

[2020-06-28 17:03] alex19EP commented on #132
unfortunately not quite right. the flag is not passed to msi installer. so let it stay open.

[2020-06-28 17:06] djdance commented on #132
well, yes, it still is asking "trust or not" and shows few blinking popups, but now it does not wait for "done" , and doesn't show _matrix running code_, so at least this is good.

[2020-07-05 11:26] celtichawk opened #161 "[Ubuntu 20.04] Failed getting voices list"
I am running into this on both an upgrade from 18.04 and 20.04 I followed the instructions to build and install RHvoice in the wiki, and speech-dispatcher and Orca find the module, however neither Orca nor spd-say -o rhvoice -L list any voices.

I am running the default speech-dispatcher for 20.04 (0.9.1-4) and am not sure what I am missing with this. Any ideas?

[2020-07-07 09:51] alex19EP commented on #161
hello. can you provide build logs?

[2020-07-07 14:17] KOLANICH commented on #161
@celtichawk , you can try #135 , it works for me.

[2020-07-07 14:24] KOLANICH opened #162 "A script creating voices fully automatically from voice datasets is needed"
There are some free datasets targeted for creation of TTS and ASR systems, like Mozilla Common Voice.

I wonder if it is possible to create voices automatically from these datasets.

[2020-07-07 15:02] celtichawk commented on #161
I can, but I have a related question. The default langguage (the only one that shows up) ise showing up in Orca as EN_US. Where exactly would I go to change them to EN?

[2020-07-07 15:26] alex19EP commented on #161
hmm. I think it depends on your locale. but I'm not sure if this affects your problem.

[2020-07-08 15:52] alexarnaud commented on #60
I'm able to compile the Speech Dispatcher module but if it's not possible to build the speech-dispatcher module it doesn't stop the check process so you think everything is OK.

The needed Debian package is "libpulse-dev". Probably it should be useful to add this to the wiki or improving the compilation to fail.

We could probably close this after doing one of the above actions.

Thanks in advance

[2020-07-10 15:47] #30 closed

[2020-07-17 09:30] msva commented on #5
yeah, it builds fine for now.

Although, there is still strange issue in that fact, that scons builds the code two times:
first time - on "compile" phase (where package manager calls `scons <...params...>`), and second time on install phase (where package manager calls `scons <...params...> install`). It supposed to just install already built binaries and libraries, when `install` is called, but s

[2020-07-23 12:05] Radaher commented on #144
Hola a todos, yo también estoy interesado en poder añadir el español, soy de España.

Hello everyone, I am also interested in being able to add Spanish, I am from Spain.

[2020-07-25 09:46] alex19EP commented on #5
I'm glad to hear that.

first time - on "compile" phase (where package manager calls scons <...params...>), and second time on install phase (where package manager calls scons <...params...> install). It supposed to just install already built binaries and libraries, when install is called, but somewhy, it reconfigures and rebuilds all the things again :(
Other than that - all the things works flaw

[2020-07-26 16:01] Dasercom opened #166 "Некорректная работа RHVoice на Raspberry Pi Zero"
Суть проблемы проста.
На Raspberry Pi Zero спокойно можно установить любую TTS. Первым делом я проверял всё на обычном linux и всё работало. Но после установки на Pi я столкнулся с проблемами.
Первым делом я грешил на то, что я использую USB звуковую карту, но после настройки, проблемы не ушли.
Я воспользовался одним советом с QA Stack.

Вообщем звук на звуковой карте появился. Но при проверке на

[2020-07-26 16:51] Olga-Yakovleva commented on #17
I forgot to comment here earlier, but the implementation for Russian is
now in the master branch and needs testing.

[2020-07-26 17:01] Aculeasis commented on #166
Если aplay работает, то - `echo "Привет я синтезатор речи" | RHVoice-test -p anna -o - | aplay -q -`

[2020-07-26 17:41] Dasercom commented on #166
Спасибо большое, парился несколько дней, думал что всё время ошибался с звуковой картой. Но всё работает, благодарю.

[2020-07-26 17:42] #166 closed

[2020-07-26 18:12] zstanecic commented on #17
Здравствуйте, Ольга!

Как попробовать этот функционал, что нужно включить, как пользоваться?

From: Olga Yakovleva <notifications@github.com>
Sent: Sunday, July 26, 2020 6:51 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Olga-Yakovleva/RHVoice] Stress mark support / Поддержка знаков ударения (#17)

I forgot to comment here e

[2020-07-27 12:06] Olga-Yakovleva commented on #17
It is always enabled in the latest version. If a vowel letter in a
Russian text is followed by an acute accent character (U+0301), it will
be stressed.

[2020-07-29 04:35] velmyshanovnyi commented on #95
вопрос актуален, и не теряет своей актуальности!

[2020-07-29 04:37] velmyshanovnyi opened #168 "Украинский"
https://github.com/Olga-Yakovleva/RHVoice/blob/master/data/languages/Ukrainian/g2p.fst

как менять/добавлять правила?

чтобы "прокачать" до уровня
https://github.com/Olga-Yakovleva/RHVoice/blob/master/data/languages/Russian/g2p.fst

???

вопрос не только по этому одному файлу но и по всей структуре целиком.

[2020-07-29 04:44] velmyshanovnyi commented on #168
аналогично вопрос и для

https://github.com/Olga-Yakovleva/RHVoice/blob/master/data/languages/Ukrainian/spell.fst

(взято из бирарника)
`
�аАббеБввеВггеГҐґеґддеДеЕэросійскаЭЄєёЁжжеЖззеЗи� ыЫІіЇїййотЙккаКлелЛмемМненНоОппеПрерРсесСттеТуУфефФххаХццеЦччеЧшшаШщщаЩьм'якийЬътвердийЪюЮяЯaAbBcCdDeE

[2020-07-29 11:18] Olga-Yakovleva commented on #168
At the moment most of the rules use the programming language of finite
state transducers originally introduced in the proprietary XFST system
and later reimplemented in such open-source compilers as Foma and HFST,
though I implemented my own binary format for the compiled transducers
to avoid linking to more third-party libraries. The online documentation
is sparse, some of it seem to have disappe

[2020-08-05 04:21] vasoge opened #169 "Android app Can't download georgian voice"
Android app can't download georgian voice.
Please fix

[2020-08-05 05:53] beqabeqa473 commented on #169
fixed just now.

[2020-08-05 14:21] #88 closed

[2020-08-05 14:44] Olga-Yakovleva opened #170 "Compilation with SCons is broken"
I should have tested before merging pr #135. I am aware of the problems and will deal with them.

[2020-08-05 14:54] alex19EP commented on #169
fix confirmed. thanks.

[2020-08-05 14:54] #169 closed

[2020-08-05 16:02] abitrolly commented on #88
@starsnet Haskel! :D

[2020-08-06 09:37] Olga-Yakovleva commented on #170
I think my two commits fix the problems.

[2020-08-06 10:02] zvezdochiot opened #172 "RHVoice-data?"
Привет @Olga-Yakovleva .

Вопрос уже подымался в других issues, но отдельно не звучал.

Перенесите голоса в отдельный репозиторий, пожалуйста. Сейчас пошли слияния с @KOLANICH и проверять работоспособность `cmake` и `scons` стало совсем неудобно. Были бы голоса отдельно, всё стало бы гораздо проще.

[2020-08-06 10:15] alex19EP commented on #172
hello @zvezdochiot i think this is similar to #125

[2020-08-06 10:17] zvezdochiot commented on #172
Oh! I already forgot about him.

[2020-08-06 10:20] zvezdochiot commented on #172
Hi @alex19EP .

I can't close. Can you do it?

[2020-08-06 10:20] alex19EP commented on #172
hello @zvezdochiot i think this is similar to #125
Duplicate of #125

[2020-08-06 10:20] #172 closed

[2020-08-06 10:53] KOLANICH commented on #30
Since CMake building and packaging has landed, it may make sense to combine debianization files (machine-readable copyright info, manpages, etc) into it and then to try to make the packages official.

[2020-08-06 10:58] KOLANICH opened #173 "Make the packages into official repos of Debian-based distros."
Since CMake and CPack has landed, it may make sense to amend put the files required by Debian into this repo and then do something to make Debian to build the packages for RHVoice and put them in their official repos.

[2020-08-06 11:02] KOLANICH commented on #173
I know that they prefer debhelper, and that CPack-generated packages miss list of hashes.

There are 2 ways to fix it.
1. I have a tool (inside of a larger not yet finished tool) transforming instructions for CPack into files for dpkg-deb
2. Or we can try to improve cpack itself. But it requires user registration on their shitty gitlab instance.
3. ~~using dh_cmake~~, but debhelper is utter crap,

[2020-08-06 11:06] KOLANICH commented on #172
What's inconvenent with the CMake scripts by me?

[2020-08-06 11:13] zvezdochiot commented on #172
Hi @KOLANICH .

Not in `cmake` it's inconvenient, but keeping everything in one basket (both the engine and the voices) is inconvenient for cloning.

[2020-08-06 11:15] KOLANICH opened #174 "The repo requres its metadata to be updated"
1. It is not only for Russian language.
2. Tags are missing.
3. Issue and PR templates.

[2020-08-06 11:18] KOLANICH commented on #172
Yeah, trully.

BTW, you can just pull, or fetch and reset --hard, so you don't have to download GiBs every time.

[2020-08-06 11:23] KOLANICH opened #175 "Document the architecture of the tool"

[2020-08-06 11:26] abitrolly commented on #30
@KOLANICH is CMake something that Debian requires for official packages? I don't see the connection.

[2020-08-06 11:28] #170 closed

[2020-08-06 11:28] andrewshadura commented on #30
@abitrolly, I guess the point was that CMake can generate .debs. Which is irrelevant to getting it into Debian proper.

[2020-08-06 11:29] andrewshadura commented on #30
I’m willing to look at packaging again; I don’t have much personal incentive, but why not — if I find enough time :slightly_smiling_face:

[2020-08-06 14:37] KOLANICH commented on #30
The connection is that I have written the code splitting rhvoice into packages in CMake. The packages are built using CPack. Not only for Debian-based distros. It is waste to use debhelper for this. So I propose to add the debianization files to this repo and build packages for debian using the metadata defined in CMake.

[2020-08-06 14:39] andrewshadura commented on #30
CPack is not an acceptable solution to package anything for any distribution. SCons is good enough a build system, and a native distribution’s tools should be used for each distro.

[2020-08-06 15:15] alex19EP commented on #175
pleas elaborate more. thanks

[2020-08-06 15:38] abitrolly commented on #30
@KOLANICH DRY principle applied here would be to learn Python, which is the language in which NVDA written. :D Then instead of adding another dependency, you could actually commit SCons to this repo, to help people avoid installing anything at all.

[2020-08-06 16:25] KOLANICH commented on #175
I cannot, I am not enogh familiar to the tool. I.e. what does each dependency do and why and how.

[2020-08-06 16:26] KOLANICH commented on #30
I don't need nvda, I am not blind.

[2020-08-06 16:41] zstanecic commented on #30
But users of this synth are blind, at least some of them.

Don’t be selfish.

From: KOLANICH <notifications@github.com>
Sent: Thursday, August 6, 2020 7:27 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Olga-Yakovleva/RHVoice] репозиторий с deb пакетами (#30)

I don't need nvda, I am not blind.

—
You are receiving this becau

[2020-08-06 17:03] KOLANICH commented on #30
Yes, I know. But assisting technology for visually impaired people is not the only use case of such tools. Answering machines, voice-controlled assistants, notifications about events at distance, automatic dubbing of movies ... the applications are limitless. You should not assumme that everyone needs that NVDA. NVDA is a very niche use case.

[2020-08-06 17:15] zstanecic commented on #30
I know.

Me myself use NVDA, as I am a blind RHVoice user. I am using RHVoice to read Russian.

From: KOLANICH <notifications@github.com>
Sent: Thursday, August 6, 2020 8:04 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [Olga-Yakovleva/RHVoice] репозиторий с deb пакетами (#30)

Yes, I know. But

[2020-08-06 17:23] abitrolly commented on #30
@KOLANICH as far as I've heard, Olga is NVDA user and wrote the library to solve the specific accessibility problem in this niche. I can't blame you for not knowing, because the story is not covered by the media.

[2020-08-06 17:29] KOLANICH commented on #30
I understand. But it doesn't mean that if NVDA is written in python or uses scons, this project must too. This project is not just a plugin for NVDA. It is a general purpose speech synthesizer. A free open source one. Most of other ones are either proprietary and maybe costly  or maybe server side or just early prototypes in python + TensorFlow unsutable for use - they have no "standardized" inter

[2020-08-06 17:32] zstanecic commented on #30
It is relevant, because maybe you as a contributor in the future want to drop NVDA support.

What is irrelevant for you, it doesn’t mean that it is irrelevant for others.

Simple, fair and straightforward…

From: KOLANICH <notifications@github.com>
Sent: Thursday, August 6, 2020 8:30 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comme

[2020-08-06 17:48] KOLANICH commented on #30
I know that Olga is blind. I have read about it on Habr not so long ago. https://habr.com/ru/company/ruvds/blog/511236/ Anyway, I know that there are people who were unfortunate enough to be  blind, and that they use speech synhesizers to be able to use PC. I also deeply respect Olga because she has knowledge and skills I don't have. I.e. I don't understand how tools of this kind (non-neural with

[2020-08-06 18:05] zvezdochiot commented on #30
@KOLANICH say:

Лицензия вроде не запрещает. Более того, патчи вполне разрешены и эксплуатируются повсеместно.

[2020-08-06 18:24] KOLANICH commented on #30
The license doesn't forbid forks. But the decisions about the fork are up to fork maintainer. The decisions about the project are the decisions about its "main fork" called "upstream". This repo is upstream. And its  Olga its

[2020-08-06 18:36] zvezdochiot commented on #30
Привет @KOLANICH .

Возможно я не до конца понял, но мне показалось, что речь идёт за конкретные сборки. И здесь дела обстоят несколько по-другому. Многие дистры вносят спецпатчи для сборок. Я это знаю точно, так как сам вносил такие патчи для сборок в Debian Wheezy.

[2020-08-06 19:44] KOLANICH commented on #30
If distro-specific patches are not upstreamed, it is either laziness or circumstances of package maintainers of subborness of upstream maintainers or both. IMHO - it almost always make sense to upstream distro-specific patches, but it is not always possible - either upstream says "I don't need your patches, your patches implement a feature, completely unneeded for everyone except of you", or the u

[2020-08-08 08:27] alex19EP commented on #175
what tool. and what documentation you need.
this issue isn't very informative. sorry.

[2020-08-08 09:36] KOLANICH commented on #175
RHVoice. Its core.

1. What are the components of RHVoice?
2. What are the roles of each component (including third-party ones, related to synthesis, such as hts and mage (and why does it crash, if built without MAGE) ) and what are the interactions between them (the preferred way a GraphViz graph, showing all the interactions, significant API and information flow, + some text describing each arc

[2020-08-08 10:58] Olga-Yakovleva commented on #175
The design more or less follows the standard design of a speech
synthesizer. See, for example, the book "Text-to-Speech Synthesis" by
Paul Taylor. Many data structures are just the same Festival and Flite
use. They (Festival and Flite) have some documentation. There is a
scientific paper as well, I believe, though I can't remember the name at
the moment. If I ever have the time, I may write some d

[2020-08-08 11:45] Olga-Yakovleva commented on #175
I answered only about the language data. And for voice data files, these
are trained models: duration, spectral features, fundamental frequency
and periodicity. Speech recognition engines use similar models to
recognize speech, and speech synthesizers do it the other way around.

[2020-08-08 17:30] beqabeqa473 commented on #170
cannot confirm it on windows

[2020-08-08 19:18] beqabeqa473 commented on #170
cannot build on windows.

Configuring  C:\Users\user\rhvoice\src\core/config.h.in into C:\Users\user\rhvoice\src\core\c
onfig.h ...

scons: warning: Two different environments were specified for target C:\Users\user\rhvoice\src
\core\config.h,
        but they appear to have the same action: _action(target, source, env)
File "C:\Users\user\rhvoice\src\core\SConscript", line 54, in processConfig

s

[2020-08-09 15:07] KOLANICH commented on #175
Thanks for the info, @Olga-Yakovleva.

[2020-08-10 17:02] stormdragon2976 opened #178 "Speech-dispatcher Not Working with RHVoice"
Failed to connect to Speech Dispatcher:
Error: Can't connect to unix socket /run/user/1000/speech-dispatcher/speechd.sock: Connection refused. Autospawn: Autospawn failed. Speech Dispatcher refused to start with error code, stating this as
a reason: /etc/speech-dispatcher/speechd.conf:154: Unknown Config-Option: 'SymbolPreprocFile'
/etc/speech-dispatcher/speechd.conf:155: Unknown Config-Option: 'S

[2020-08-11 05:23] Olga-Yakovleva commented on #178
Yes, it seems I was wrong in assuming that this would be an RHVoice
problem and asking to report it here. It was the case in the past. But
this is something related to SD itself. Please report it to them.

[2020-08-11 05:53] beqabeqa473 opened #179 "Compilation issues on windows"
hello all.

several issues were observed while compiling rhvoice on windows.

1. building with scons is still broken.
Configuring C:\Users\user\rhvoice\src\core/config.h.in into C:\Users\user\rhvoice\src\core\c
onfig.h ...
scons: warning: Two different environments were specified for target C:\Users\user\rhvoice\src
\core\config.h,
but they appear to have the same action: _action(target, source, e

[2020-08-11 11:13] Olga-Yakovleva commented on #179
I'm working on the fix.

[2020-08-11 11:20] alex19EP commented on #178
hello @stormdragon2976 . i can't confirm this issue on ArchLinux and speech-dispatcher-git 0.10.1.r3.gcdec0527-1

I am attaching my config file. maybe it can help.
[speechd.conf.txt](https://github.com/Olga-Yakovleva/RHVoice/files/5056618/speechd.conf.txt)

[2020-08-11 11:20] #178 closed

[2020-08-11 13:44] Olga-Yakovleva commented on #179
Please test.

[2020-08-11 15:39] maniyax commented on #179
@Olga-Yakovleva, check your e-mail, please!

[2020-08-11 15:40] maniyax commented on #179
@Olga-Yakovleva, check your e-mail, please!

[2020-08-12 07:40] zstanecic opened #180 "High pitched RHVoice in the last commit"
Steps to reproduce:
1. Build RHVoice, (platform doesn't matter)
2. after building the new version, install the russian or whatever voice you want,
Current behavior: RHVoice speaks in a high-pitched, deformed voice.
Expected behavior: RHVoice should speak normally
build environment on which this behavior was observed:
win 10, 2004 (20H1), latest visual studio with all respective needed dependencies

[2020-08-13 14:04] Olga-Yakovleva commented on #180
Can anyone else reproduce this? Perhaps there exist more specific
conditions related to this problem, as I haven't been able to reproduce
it myself yet.

[2020-08-13 16:49] beqabeqa473 commented on #179
confirmed as fixed

[2020-08-13 16:49] #179 closed

[2020-08-13 17:33] beqabeqa473 commented on #180
yes, i can confirm this.

i tracked down an issue and problem started to appear after merging cmake build system, specifically:
in src/include/core/sample_rate.hpp for some unknown reason
      enum_property<sample_rate_t>("sample_rate",sample_rate_24k)
was changed to
      enum_property<sample_rate_t>("sample_rate",sample_rate_48k)

@KOLANICH what was the reason you touch this part. do you really

[2020-08-13 20:41] KOLANICH commented on #180
I'm sorry.

I have forgotten to revert it after I was testing if higher sample rates work (they don't) and it has leaked into the PR. I have also added a parameter into RHVoice-test to adjust it, but [set it back to 24k](https://github.com/Olga-Yakovleva/RHVoice/pull/135/files#diff-77cffe8341bf99e3beb9f65df6f5eb8bR45) as I realized that they don't work, so in RHVoice-test the issue was masked by t

[2020-08-13 23:35] #180 closed

[2020-08-17 12:46] KOLANICH opened #183 "../src/third-party/utf8/utf8/checked.h:93:27: warning: implicit conversion changes signedness: 'utf8::uint8_t' (aka 'unsigned char') to 'typename basic_string<char, char_traits<char>, allocator<char>>::value_type' (aka 'char')"

[2020-08-19 15:47] Olga-Yakovleva commented on #17
Implemented the same thing for Ukrainian. I need somebody to test this: both that it is working and, probably more importantly, that I haven't broken anything by this change by mistake.

[2020-08-19 15:51] zstanecic commented on #17
Hi Olga,

I’ve tested this for Russian, and it works only if the word is in the RHVoice dictionary and or user dictionary.

If there is no word, it ignores the sign and reduces wovels.

From: Olga Yakovleva <notifications@github.com>
Sent: Wednesday, August 19, 2020 5:47 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.gi

[2020-08-19 15:53] zstanecic commented on #17
P.s. i am going to test this with the new changes

From: Olga Yakovleva <notifications@github.com>
Sent: Wednesday, August 19, 2020 5:47 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [Olga-Yakovleva/RHVoice] Stress mark support / Поддержка знаков ударения (#17)

Implemented the same thing for U

[2020-08-19 15:56] Olga-Yakovleva commented on #17
Please give me a couple words as examples, so it would be easier for me
to find the reason for this bug. It isn't easy to think of a
out-of-dictionary word right away.

[2020-08-19 16:00] zstanecic commented on #17
Ольга, можете попробовать словоформу местоимения

Чего

Это местоимение не находится в словаре RHVOICE.

From: Olga Yakovleva <notifications@github.com>
Sent: Wednesday, August 19, 2020 5:57 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [Olga-Yakovleva/RHVoice] Stress mark support / Поддержка з

[2020-08-19 16:26] Olga-Yakovleva commented on #17
Are you sure that the calling program doesn't process the text itself?
For example, NVDA seems to insert spaces between some types of
characters, which breaks all the native rules of the tts. So the testing
must be done with something we know doesn't do any special processing of
its own, such as the RHVoice-test utility.

[2020-08-19 16:43] zstanecic commented on #17
Yep, NVDA can insert spaces, but where?

I am running RHVoice on windows, and I don’t know do we have RHVoice test for windows available?

Maybe I can test with it.

NVDA threats the stress mark as the combining diacritic mark.

From: Olga Yakovleva <notifications@github.com>
Sent: Wednesday, August 19, 2020 6:26 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek2

[2020-08-20 13:43] Olga-Yakovleva commented on #17
Do you know how to open the speech properties dialog for SAPI5 voices?
It can be used to test such things. I will try to test myself on a
virtual machine a bit later.

[2020-08-20 14:07] zstanecic commented on #17
Yep, i know. I will do it later, too, because I am using RHVoice with NVDA addon

From: Olga Yakovleva <notifications@github.com>
Sent: Thursday, August 20, 2020 3:44 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [Olga-Yakovleva/RHVoice] Stress mark support / Поддержка знаков ударения (#17)

Do

[2020-08-20 14:27] zstanecic commented on #17
I have tested the function from the sapi5 properties, and it works properly, even with the words which are not parts of the dictionary.

So, the conclusion is that NVDA does something when processing the text.

I am going to research a bit.

[2020-08-20 14:44] zstanecic commented on #17
I’ve found an error.

The problem with NVDA is that NVDA doesn’t pass the symbol to the synthesizer.

I’ve needed to turn this on in NVDA settings.

Conclusion, I will need to contribute a patch to the symbols file.

The feature can be considered stable, if all works also at your side.

[2020-08-20 16:25] Olga-Yakovleva commented on #17
I also received a private confirmation about the Ukrainian language,
so closing as implemented.

[2020-08-20 16:26] #17 closed

[2020-08-23 10:53] fatihyuksek1 opened #186 "The English data package does not work on sapi 5"
When I install the English language data pack with the anna and bdl voices (English and Russian voices), isn't it supposed to read the lating characters in English and the cyrillic characters in Russian? It doesn't work and nothing seems to differ whether I have installed the language data pack or not. I want it to read the latin letters with bdl and the cyrillic letters with anna on sapi 5.

[2020-08-24 08:25] fatihyuksek1 commented on #186
There ‘s no rhvoice directory in the %appdata% directory  Windows 10 için Posta ile gönderildi Kimden: zstanecicGönderilme: 23 Ağustos 2020 Pazar 15:21Kime: Olga-Yakovleva/RHVoiceBilgi: fatihyuksek1; AuthorKonu: Re: [Olga-Yakovleva/RHVoice] The English data package does not work on sapi 5 (#186) Hi,See the configuration documentation in the wiki.—You are receiving this because you authored the thr

[2020-08-25 11:53] beqabeqa473 opened #187 "update voiceBuildingUtils to py3 and fix training.pl for latest perl"
hello @Olga-Yakovleva.

in latest lts release of ubuntu and some other distros, python2 is not installed by default.

what do you think about porting voice building utils to python3?

i can do a pr, but before i do, i want to know, is it needed to keep backwards compatibility with python2 or it would be possible to rewrite code to match latest python syntacs?

also in last perl versions, current w

[2020-08-27 17:54] fatihyuksek1 opened #188 "there is no rhvoice folder in the %appdata% directory"
I couldn't find a rhvoice folder in the %appdata% directory. The config file was there according to the wiki article but there is no such folder called rhvoice in the %appdata% directory. I was going to change the config file to create a new voice profile but I couldn't. I am using windows 10 64-bit and SAPI 5

[2020-08-27 19:01] zstanecic commented on #188
Hi,

For now, you need to create it manually, and yes, it’s a bug.

From: fatihyuksek1 <notifications@github.com>
Sent: Thursday, August 27, 2020 8:55 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Olga-Yakovleva/RHVoice] there is no rhvoice folder in the %appdata% directory (#188)

I couldn't find a rhvoice folder in the %appdat

[2020-08-27 20:40] binyominzeev opened #189 "Cannot recognize installed English voices"
Hello,

I successfully installed rhvoice on Ubuntu 18.04 from package, and also the rhvoice-english package. It reads from the Russian voices great, but the English voices it cannot found, even though they are there in place.

"RHVoice-client -s Aleksandr" runs good, but "RHVoice-client -s Alan" gives the following error message:

Dbus error: 'GDBus.Error:org.freedesktop.DBus.Error.InvalidArgs: No

[2020-08-27 20:56] zstanecic commented on #189
Hi Binyomin,

Can you please tellu s which version you tried to install?

Have you compiled it manually or is it one latest from master?

[2020-08-27 20:59] alex19EP commented on #189
can you test with speetch-despatcher?
because RHVoice-client is deprecated.

[2020-08-27 21:21] binyominzeev commented on #189
Hi, thank you, I installed from the latest package available here (1.2.0.1):

https://launchpad.net/~linvinus/+archive/ubuntu/rhvoice/

Exactly as described here:

https://github.com/Olga-Yakovleva/RHVoice/blob/master/doc/en/Packaging-status.md

Regarding speech-dispatcher: what is the exact usage from command line, where can I find it?

[2020-08-27 21:28] alex19EP commented on #189
ok. regarding speetch-despatcher.
spd-say can drive rhvoice from CLI. [man page](https://manpages.ubuntu.com/manpages/trusty/man1/spd-say.1.html)

[2020-08-27 21:35] binyominzeev commented on #189
Thank you!

I assume, in order for spd-say to recognize rhvoice, it should run as a service, which it is unfortunately currently refusing:

[code]

[2020-08-27 21:42] alex19EP commented on #189
hmmm. sd doesn't see rhvoice. it's strange. i need to look into ubuntu package. unfortunately this can only happen tomorrow.

for now I can only advise you to compile the master yourself.

sorry.

[2020-08-27 22:30] binyominzeev commented on #189
Thank you, yes, this is now working great!

The only thing I was unable to figure out is how to save the generated output to a file. I can make it speak with spd-say but not to save it.

[2020-08-28 08:06] fatihyuksek1 commented on #188
So  can you send me An example file so I can do this easier or give some instructions?

iPhone’umdan gönderildi

[2020-08-28 18:12] elnursamedzade opened #190 "Using MaryTTS voices in RHVoice"
Hello there.
Is it possible to use a unit selection voice built with MaryTTS with RHVoice on android?
What changes need to be made to the source code?
Please enlighten me. Thank you.!

[2020-08-31 15:40] Olga-Yakovleva commented on #186
For now the directory may just be created manually. The next version will create it and copy the file with the links to the configuration-related materials.

[2020-08-31 15:43] Olga-Yakovleva commented on #186
But the issue described is not a bug as such, as the voice profiles are meant to be configured by the user themself in whichever combination they prefer. So closing.

[2020-08-31 15:43] #186 closed

[2020-08-31 16:17] Olga-Yakovleva commented on #188
The directory is now being created on first use. And the simplified
configuration file with the links is copied there. So to those who can
build and test please do. If there is no file, it should appear, but if
there is, it should remain as is, no replacement.

[2020-08-31 16:22] zstanecic commented on #188
I will test this now.

Best,

Zvonimir

[2020-08-31 16:39] Olga-Yakovleva commented on #190
No, it is not possible. And I'm not going to work on it myself. Unit
selection is a related, but separate technology, which seems much more
difficult to get right.

And even if voices from two different tts systems are built on the same
technology, it isn't possible to just use them outside of their native
tts without new special code in that other tts, which I'm also not
planing to implement.

[2020-08-31 16:40] #190 closed

[2020-08-31 16:45] KOLANICH commented on #161
[![Packaging status](https://repology.org/badge/vertical-allrepos/speech-dispatcher.svg)](https://repology.org/project/speech-dispatcher/versions)

[2020-08-31 16:54] zstanecic commented on #188
Тхе иссуе ис фиџед.

Ит њоркс.

From: Olga Yakovleva <notifications@github.com>
Sent: Monday, August 31, 2020 7:18 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [Olga-Yakovleva/RHVoice] there is no rhvoice folder in the %appdata% directory (#188)

The directory is now being created on first use

[2020-08-31 17:06] alex19EP commented on #188
@zstanecic your last comment looks strange. please, edit it.

[2020-08-31 17:09] zstanecic commented on #188
I’ve posted it via e mail, I am not able to edit it.

I said that this function works.

[2020-08-31 17:13] alex19EP commented on #188
for the future, I recommend using the github web interface.

closing as fixed in efac9bf

[2020-08-31 17:13] #188 closed

[2020-09-01 07:17] elnursamedzade opened #191 "HTS model"
Hello again.
Thank you for coming back to me.
Got it, we can't use MaryTTS voices with RHVoice.
So if I train my own model with HTS, how do I integrate it into RHVoice? Or is it possible to train with RHVoice?
I want to contribute to the Azerbaijani language. I hope you don't hesitate to help me.
Thank you.

[2020-09-01 17:30] beqabeqa473 opened #193 "Windows: problems when building with cmake"
hello all.

i think @KOLANICH will be most competent in this question.

i tried to build RHVoice using cmake on windows, ran cmake . in RHVoice root and got the following:

CMake Error at data/languages/CMakeLists.txt:9 (message):
  Please set ISO639_1_NAME2CODE_CMakeFiles to the code of the lang from
  https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
Call Stack (most recent call first):
  da

[2020-09-01 20:20] KOLANICH commented on #193
Hi. Nice that at least someone tested this on Windows with VS.

Could you try to add
```string(REPLACE "\\" "_backslash_" var_name ${var_name})```

after https://github.com/Olga-Yakovleva/RHVoice/blob/master/cmake/Hardening.cmake#L18

[2020-09-01 20:41] KOLANICH commented on #193
Looks like a wrong dir is globbed.

Have you tried out-of-source build? I mean your current working directory should be not RHVoice repo root, but adir dedicated to build process (I usually use `build` dir in repo root, I have even gitignored it).

[2020-09-02 05:17] beqabeqa473 commented on #193
ok, running cmake from build directory generated vs configuration

however, there are some failed tests

-- Performing Test SUPPORTS_HARDENING_COMPILE_FLAGS_/dynamicbase
-- Performing Test SUPPORTS_HARDENING_COMPILE_FLAGS_/dynamicbase - Failed
-- Performing Test SUPPORTS_HARDENING_COMPILE_FLAGS_/HIGHENTROPYVA
-- Performing Test SUPPORTS_HARDENING_COMPILE_FLAGS_/HIGHENTROPYVA - Failed
-- Performing

[2020-09-02 05:24] beqabeqa473 commented on #193
now libhtsengine is not building because of deprecated function calls

[2020-09-02 05:34] beqabeqa473 commented on #193
it seems it is needed _CRT_SECURE_NO_WARNINGS compiler flag to be passed for suppressing this kind of warnings before rhvoice will meet c11 or greater standard.

[2020-09-03 16:51] Olga-Yakovleva commented on #191
You'd need to implement the language support first, such as
pronunciation rules etc. As I've already mentioned in other similar
issues here, currently it's not easy. The only way to figure it out is
to study my source code and learn to use Foma, which I'm using a lot to
implement g2p and other rules. I'm working on a rewrite of the system to
make it possible for other people, not just myself, to w

[2020-09-05 03:38] elnursamedzade commented on #191
Yes, I understand you, Olga.
I edited the foma files in my own language and rebuild as fst.
What should I do next? Can you light me up a little more?
Just give any hint.
Besides, you are doing a very good job. Dude you are great. I love you!

[2020-09-05 15:28] Olga-Yakovleva commented on #161
RHVoice now both assumes Speech Dispatcher >= 0.9 by default and tries
to detect the version using pkg-config. Is anybody able to test on
Ubuntu 20.04, as it is the subject of this issue?

[2020-09-05 15:43] Olga-Yakovleva commented on #191
There are other files you may study in other languages: they define
phonemes, hts label format, the alphabet is defined in language-specific
C++-code.

[2020-09-05 15:59] Olga-Yakovleva commented on #187
I will merge such a pr if it is submitted. And no, I don't care about
Python 2 compatibility myself.

I will also not be working on that script myself anymore. My private for
now work among other things is to reimplement the whole thing in Python
3 to be able to add changes and improvements myself, I'm not a Perl
programmer and not planning to become one. So everything about the voice
building pro

[2020-09-05 19:24] perchibald opened #194 "Build problems on Linux"
scons:

scons: Reading SConscript files ...
Mkdir("build/linux")
Checking whether the C compiler works... yes
Checking whether the C++ compiler works... yes
Checking for pkg-config... yes
Checking for libpulse-simple... yes
Checking for ao... yes
Checking for portaudio-2.0... yes
Checking Speech Dispatcher version ... yes
('Configuring ', '/mnt/RHVoice/src/core/config.h.in', 'into', '/mnt/RHVoice/

[2020-09-05 19:38] zstanecic commented on #194
Hi,

Have zou installed lxml, as it is a dependencz_

From: perchibald <notifications@github.com>
Sent: Saturday, September 5, 2020 10:24 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Olga-Yakovleva/RHVoice] Проблемы со сборкой на linux (#194)

По мануалу со scons:

scons: Reading SConscript files ...
Mkdir("build/linux")
Checki

[2020-09-05 19:50] perchibald commented on #194
Hi,

Have zou installed lxml, as it is a dependencz_

From: perchibald <notifications@github.com>
Sent: Saturday, September 5, 2020 10:24 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Olga-Yakovleva/RHVoice] Проблемы со сборкой на linux (#194)

По мануалу со scons:

scons: Reading SConscript files ...
Mkdir("build/linux")
Checki

[2020-09-05 19:52] perchibald commented on #194
python-lxml???

[2020-09-05 20:12] zstanecic commented on #194
Yep, from pip.

It’s just called lxml

From: perchibald <notifications@github.com>
Sent: Saturday, September 5, 2020 10:53 PM
To: Olga-Yakovleva/RHVoice <RHVoice@noreply.github.com>
Cc: zstanecic <zvonimirek222@yandex.com>; Comment <comment@noreply.github.com>
Subject: Re: [Olga-Yakovleva/RHVoice] Проблемы со сборкой на linux (#194)

python-lxml???

—
You are receiving this because you commented.

[2020-09-05 20:21] perchibald commented on #194
pip search lxml
lxml (4.5.2)                   - Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
  INSTALLED: 4.3.2
  LATEST:    4.5.2

scons: Reading SConscript files ...
Mkdir("build/linux")
Checking whether the C compiler works... yes
Checking whether the C++ compiler works... yes
Checking for pkg-config... yes
Checking for libpulse-simple... yes

[2020-09-06 08:16] Olga-Yakovleva commented on #194
With SCons this is a Python 2 incompatibility which was introduced by
one of the recent changes. I'm fixing it now and will push the fix soon.

[2020-09-06 09:00] Olga-Yakovleva commented on #194
Please test compilation with SCons from the current master.

[2020-09-06 10:13] perchibald commented on #194
compilation and installation went well, but:

 echo test|RHVoice-test
RHVoice-test: error while loading shared libraries: libRHVoice_core.so.3: cannot open shared object file: No such file or directory

[2020-09-06 10:43] alex19EP commented on #194
if your libraries are not on standard path then either you need to add them to the path or add non-standard path to LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:<Your_non-Standard_path>
Once you done any one of above things then you need to update the dynamic linker run-time binding by executing below command:
sudo ldconfig
UPDATE:
You can make the changes permanent by either writing th

[2020-09-06 10:51] perchibald commented on #194
not standard path?

locate libRHVoice_core.so.3
/mnt/RHVoice/build/linux/core/libRHVoice_core.so.3
/mnt/RHVoice/build/linux/core/libRHVoice_core.so.3.0.1
/usr/local/lib/libRHVoice_core.so.3
/usr/local/lib/libRHVoice_core.so.3.0.1

it seems to me /usr/local/lib/ non-standard

[2020-09-06 11:05] elnursamedzade commented on #191
Yes, I saw those files in the data folder. As far as I understand, I need to convert hts lab files to labelling.xml file with c ++ code.
How can I do that? Is there such a C ++ module in the RHVoice directory?

[2020-09-06 11:10] alex19EP commented on #194
pleas look in your  /etc/ld.so.conf it isn't RHVoice problem.

[2020-09-06 11:25] Olga-Yakovleva commented on #191
See such examples as english.hpp/english.cpp, russian.hpp/russian.cpp
etc. As for labels, the file just defines the format and which feature
functions to use. You may implement custom feature functions in
<yourlanguage>.cpp. It all depends on what information it is possible to
deduce from the text and what can be used to predict which specific
allophone of a phoneme will be used. It all depends on

[2020-09-06 11:27] perchibald commented on #194
Thanks everyone, the problem with the compilation is solved. The problem with the location of the libraries is not a problem.

[2020-09-06 11:32] elnursamedzade commented on #191
Ok darling, I'll review the files again.
Thank you very much.

[2020-09-06 12:46] #194 closed

[2020-09-06 13:55] zstanecic opened #195 "reminder: add new russian voice to android"
Hi to all,
this issue is just a reminder.
can you add the new russian voice to android and allow compiling the 3rd party voice data?
best,
Zvonimir

[2020-09-06 14:53] bmivzkrp opened #196 "Request for individual settings for each user"
Expected behavior:

1. During the first run, RHVoice creates a directory:

~/.RHVoice

An example of a configuration file translated into the user s language is copied to this directory. If there is no translation into this language, an example configuration file in English is copied. If during the first run RHVoice detects that this file already exists, it uses this file;

2. ~/.RHVoice/RHVoice.c

[2020-09-06 15:16] bmivzkrp opened #197 "Request for the implementation of separate dictionaries for each user"
Expected Behavior: The ~/.RHVoice/dicts/ directory has a higher priority than PREFIX/etc/RHVoice/dicts/.
RHVoice. But the dictionaries contained in PREFIS/etc/RHVoice/dicts/ have a higher priority than the dictionaries included in RHVoice.
The above applies to Linux.
I will be grateful for this functionality.

[2020-09-09 16:24] zstanecic commented on #195
@Olga-Yakovleva
Does the latest change allow compiling 3rd party voice data, not in the checksums?

[2020-09-09 22:52] 1spb-org commented on #15
However, I just want to say: **awesome project**!

[2020-09-10 13:06] Olga-Yakovleva commented on #195
These are two separate issues: I've implemented the short-term
request, but the long-term question of supporting third-party voices
on Android will be solved later, not in this release, as I can't take
even more time now. Please open a separate issue for it.

[2020-09-10 13:15] zstanecic commented on #195
Ok

[2020-09-10 14:54] mrchen077 opened #198 "RHVoice engine crashes"
Android - multiple versions
RHVoice: ver 1.2.2
Voice: any
TTS Reader: Reedy ver 3.2.4.51

To reproduce - paste the following text into the reader (or create a text file with this text) and activate RHVoice engine:

Вот сейчас, на этой самой машине? А?!
 «И действительно, — вдруг с прежней легкостью

The engine crashes before reading "«И действительно"

[2020-09-10 17:41] Olga-Yakovleva commented on #198
I'd like to confirm that it can be reproduced with the latest code.
@mrchen077 could you test this build?
https://dl.bintray.com/olga-yakovleva/Android/RHVoice-v1.2.3.apk

[2020-09-10 22:43] mrchen077 commented on #198
I tested build 1.2.3
https://dl.bintray.com/olga-yakovleva/Android/RHVoice-v1.2.3.apk
and the problem is still there - the engine crashes before reading "«И действительно"

Please can you make sure you are testing it with  Reedy ver 3.2.4.51 because this is what I am using.

[2020-09-11 04:51] Olga-Yakovleva commented on #198
Well, I've installed Reedy, the same version, but still no luck
reproducing. Are you quoting the whole last sentence? Can you quote
some more text after it, basically, just give me the whole paragraph
and, if that paragraph ends in that sentence, the next one as well for
good measure.

[2020-09-11 10:02] mrchen077 commented on #198
I attach the original ebook and two screenshots of four bookmarks where RHVoice crashes. The first crash is in the beginning of the book, just before the embedded image.

[popov.fb2.zip](https://github.com/Olga-Yakovleva/RHVoice/files/5208176/popov.fb2.zip)
![popov_bookmarks1](https://user-images.githubusercontent.com/45572026/92908074-cdab3580-f41d-11ea-96e2-d3225c8d1548.jpg)
![popov_bookmarks2](

[2020-09-11 12:49] Olga-Yakovleva commented on #198
Screenshots are no use to me, as I'm totally blind. So, what should I
do to reproduce? Is it right at the beginning, so I may just start
playing the book from the start?

[2020-09-11 14:01] Olga-Yakovleva commented on #198
I tried it just in case, but playing a few first sentences didn't
result in a crash. So please provide detailed instructions in words
how to get close to one of those crash points in the book.

[2020-09-11 14:10] Olga-Yakovleva commented on #198
OK, there is a search function, so I have found your quote. Yes, there
is a problem. I will investigate.

[2020-09-11 14:19] mrchen077 commented on #198
Playing the book from the start should do it as the first bookmark is close to the top, just before the embedded image. I'll paste other bookmarks as text here if necessary.

On September 11, 2020 12:49:52 PM UTC, Olga Yakovleva <notifications@github.com> wrote:

[2020-09-11 14:20] Olga-Yakovleva commented on #198
Whatever it is, it also happens with Google TTS and Vocalizer, so it doesn't seem to be a problem with RHVoice. Closing.

[2020-09-11 14:20] #198 closed

[2020-09-13 05:57] Olga-Yakovleva commented on #195
This change is now on Google Play, so closing.

[2020-09-13 05:57] #195 closed

[2020-09-13 06:05] Olga-Yakovleva commented on #132
I didn't update all the binaries, but the Russian and Ukrainian voices should now handle the /S option. But it really needs testing by someone who actually uses this kind of thing.

[2020-09-13 22:36] Aculeasis opened #199 "scons detect cmakelists.txt as language"
Reproduction: type `scons --help`
[code]

[2020-09-14 05:08] beqabeqa473 opened #200 "possible refactor a way of getting current available language and voice data in android app"
hello all.

what do you think about writing some simple api service for getting currently available language and voice data for RHVoice app installed on android device.
this question came up because there were already cases, when updating of main engine was not so necessary to add a new voice or update current language, because there was no change in the engine's code.

so i suggest to write a sim

[2020-09-14 20:36] KOLANICH opened #201 "Should registering SAPI5 module"
I have implemented building a SAPI5 module with free toolchains  (MinGW + gcc or MinGW + Clang)  (please don't edit any code in that module, I had to do very extensive modifications in process of replacing M$ compiler EEExtensions with more compatible stuff), but I wonder, if in process of COMponent registration not only COM server should be registered, but also a speech engine (registering with r

[2020-09-14 21:01] beqabeqa473 opened #202 "incorrect pronunciations of some letters and letter combinations with psewdo english turned off in russian language"
hello.

there is a longstanding issue of incorrect pronunciations of letter m, it is spoken as n.
also letter combinations, such as ch, sh, zh are spoken as ч, ш, ж. if we chose to not use psewdo english, we don't need such interpetations of these combinations. they should be spoken as they are written.

thanks

[2020-09-17 14:58] vldmr-d opened #203 "Щелчки при произношении"
Linux Mint 20. Всё собирается, пользуюсь уже как пару лет, благодарность за вашу работу, но в последних обновлениях слышатся щелчки при произношении.
Предыдущие сборки на Raspberry Pi работают отлично, все чётко и без искажений, а вот на компьютере слышатся щелчки.
Можно как нибудь подрегулировать громкость или пики произношения?
При этом любые звуки и файлы на компьютере производятся чисто, даже

[2020-09-17 15:45] vldmr-d commented on #203
Вопрос я думаю можно закрыть, в файле pulse.cpp изменял параметр PA_SAMPLE_S16NE на другие, потом вернул назад, пересобрал и стало чисто звучать.
Странно.

[2020-09-17 15:55] #203 closed

[2020-09-20 13:41] gothmog123 opened #204 "low volume"
Dear Olga,

Your app is the only maintained open source tts on android! Keep up the great work!

I ran into a low volume issue. When I'm using it while driving (with a turn-by-turn navigation app) I basically can't hear it at all, the volume is so low (with car engine noise, etc).

Do you think maybe you could include a volume super-boost option for those of us using it for car navigation?

Thank

[2020-09-24 19:27] alex19EP commented on #204
hello @gothmog123 please try to modify [RHVoice config](https://github.com/Olga-Yakovleva/RHVoice/blob/master/doc/en/Configuration-file.md) more specifically set the default volume and maximum level.
i think it will help you.

[2020-10-09 11:43] SGamrekelashvili opened #206 "Android Application Cant Download Georgian Language(Natia)"
Application after installing it on Device, it cant download georgian(Natia) Language Pack.
If anyone know any solution right it down ,
Thanks.

[2020-10-09 12:08] beqabeqa473 commented on #206
sorry for troubles. fixed.

[2020-10-09 12:12] SGamrekelashvili commented on #206
Thank you.

[2020-10-14 12:38] mjonsson1986 opened #208 "swedish voice?"
are possible to get a swedish voice?

[2020-10-14 12:42] alex19EP commented on #208
if you can implement this.

[2020-10-14 12:42] #208 closed

[2020-10-14 12:44] mjonsson1986 commented on #208
i'm not a developer

Den 14 oktober 2020 14:42:52 skrev Alexander Epaneshnikov
<notifications@github.com>:

[2020-10-14 12:48] alex19EP commented on #208
I understand.
creating a new voice, or language is very difficult process.
and now we do not accept such requests.

I'm sorry.

[2020-10-16 06:15] FOSSfriend opened #209 "Request for adding UK English"
Will you please add UK English voice in the next version of Android?
It would really be helpful for my English lectures.

[2020-10-16 17:15] alex19EP commented on #209
unfortunately we don't have the time and opportunity to create new voices or languages.

[2020-10-16 17:15] #209 closed

[2020-10-16 20:49] #89 closed

[2020-10-16 21:25] rugk commented on #162
Yeah, wondered too, why you did not just use [the Common Voice project](https://commonvoice.mozilla.org/datasets). I don't really get what this issue is about, but it seems you do have different formats and need that to be "converted".

[2020-10-16 21:55] maniyax commented on #24
@rugk Hello!
Sorry, but it's very bad quality.
Besides the text is missing in dataset.

I'm not sure about the German dataset, but russian dataset include a lot of different dictors.

[2020-10-17 04:21] beqabeqa473 commented on #24
hello.

common voice as i know is targetted for creation of rnn voices.
the way they're built is a bit different. this method doesn't
specifically need one voice as it builds acoustic model. but for
rhvoice it is a requirement of good quality recording of one speaker
to create a voice as technologies are different.

On 10/17/20, Artem Plaksin <notifications@github.com> wrote:

--
with best regards

[2020-10-17 06:20] ildar commented on #89
Thanks a lot, we have it in F-Droid

[2020-10-17 08:08] rugk commented on #24
Ah okay, thanks, this makes sense. Of course, yeah, their idea, was to collect many voices…

[2020-10-17 10:35] KOLANICH opened #211 "Eliminate network permissions and voice data downloading code from Android app"
Currently the Android app has too broad permissions. One of the needs for them is because it downloads voices from the Net. BTW, downloading voices from the Net ourselves may have issues related to support of TLS in old devices.

The proposal is to move voices into separate packages, use android.content.pm.PackageManager to load their content and use a store app (F-Droid, Google Play, other stores

[2020-10-17 12:12] beqabeqa473 commented on #211
i think voices and languages should have a separate server api to be
listed and downloaded by rhvoice android client.

this makes publishing new and updates voices and voices and updated
language data faster, as publication of apps in google play is not so
fast and this pandemic situation makes it slower and updates and new
apps are processing slower.

On 10/17/20, KOLANICH <notifications@github.c

[2020-10-17 13:03] KOLANICH commented on #211
I think that the engine should support voices sideloading by dropping them into a dir on sdcard. And instead of API just a HTML page with links to archives and a link to it in the app. No JavaScript! A user can download the language using the browser he likes and unpack it himself. Let's keep 🪰 separate from 🥩 (there is no emoji for котлета). I mean networking from synthesis, to make everyone sure

[2020-10-17 13:52] beqabeqa473 commented on #211
see #200 for more details.

On 10/17/20, KOLANICH <notifications@github.com> wrote:

--
with best regards beqa

[2020-10-21 13:42] vantu5z opened #213 "Speech Dispatcher doesn't see Artemiy voice"
[code]
This works fine:
`echo 'проверка' | RHVoice-test -p Artemiy`
But using Speech Dispatcher is not:
`spd-say -y Artemiy "проверка"`

[2020-10-21 13:45] alex19EP commented on #213
please provide your rhvoice version, distribution and how you installed the program.

[2020-10-21 13:49] vantu5z commented on #213
I use Arch Linux.
Programs versions:
 - RHvoice (git version from AUR)
 - speech-dispatcher 0.10.1-1

[2020-10-21 14:54] alex19EP commented on #213
can't conferm. rebuild RHVoice from AUR. restarted speech-dispatcher. Artemiy works fine.

i suggest looking into rhvoice config.

[2020-10-22 05:39] vantu5z commented on #213
Thanks! Restarting speech-dispatcher helps. Now it works fine.

[2020-10-22 05:39] #213 closed

[2020-10-23 05:20] luiscarlos2000 commented on #144
If we're starting to make spanish voices, shall we first start with the castilian dialect or the latin American variant? Or it doesn't matter which dialect/accent/variant will we start?

[2020-10-24 12:42] Olga-Yakovleva commented on #199
Fixed.

[2020-10-24 12:42] #199 closed

[2020-10-24 12:51] Olga-Yakovleva commented on #201
It's not clear from the Microsoft's description of the function if it
may do other things, so I'm not really sure. As for the audio, if I
remember correctly, libao and portaudio support Windows, so if you
can build one of them, it should be possible, though I guess I should
extend the detection code for them for this to work there.

[2020-10-24 14:19] Olga-Yakovleva commented on #211
No, we used to have separate apps for voices and languages, and I
implemented this current code specifically to avoid dealing with them.
Each new app on Google Play needs to be maintained separately. Every
time a developer needs to do all that manual work. I have no desire to
spend my time on that.

And there shouldn't be any problems with TLS on older devices. RHVoice
uses [Conscrypt](https://git

[2020-10-24 14:24] Olga-Yakovleva commented on #211
Closing, as I'm not going to implement what is stated in the description of this issue.

[2020-10-24 14:24] #211 closed

[2020-10-25 16:30] KOLANICH commented on #211
It is not actually `invalid`, it is just `wontfix`

[2020-10-25 20:24] KOLANICH commented on #201
1. espeak [does that in installer](https://github.com/rhdunn/espeak/blob/master/src/windows/installer/Product.wxs#L333)
2. Ekho relies on ATL, so it also doesn't register the engines themselves from the DLL.

So, IMHO then
1. We shouldn't put speech-engine registration code into
2. we create a special function to be called using [rundll32/rundll64](https://web.archive.org/web/20101226072729/http:/

[2020-11-05 14:02] tsilia commented on #120
On Ubuntu and the likes you can do `sudo ldconfig` right after `sudo scons install`, and that should be sufficient. At least it was for me.

[2020-11-09 10:00] abitrolly commented on #119
А где, кстати, инструкция, чтобы обновить? Тоже столкнулся с тем, что `lxml` нужен.

[2020-11-09 10:40] abitrolly opened #229 "Building without WIX - does it make sense?"
What is needed to run `RHVoice` without installing? I tried to build it without NSIS and WIX and it fails while trying to build the data. Would be nice to get a `README.md` in https://github.com/Olga-Yakovleva/RHVoice/tree/master/data describing what are these files, what is the result of building them, and where `RHVoice` expects to find them (if it doesn't find them by default).

Right now the b

[2020-11-09 11:25] alex19EP commented on #119
инструкция: doc/en/Compiling-on-Linux.md но про lxml туда пока писать не надо. я гляну в чём тут дело.

[2020-11-09 11:31] zstanecic commented on #229
Hi,

It builds the MSI installers, which are needed for the successful installation of the engine and voices.

Best,

Zvonimir

[2020-11-09 11:32] zstanecic commented on #119
LXML тут нужен и под Windows.

Без него пакеты не соберёшь.

[2020-11-09 11:39] abitrolly commented on #229
Is it possible to build and use RHVoice on Windows in portable way without installers?

[2020-11-09 11:42] abitrolly commented on #119
Есть два коммита откуда `lxml` взялся.
https://github.com/Olga-Yakovleva/RHVoice/commit/34dbda511d3a8a0a67556bf805a35af8204e07c9
https://github.com/Olga-Yakovleva/RHVoice/commit/c684650d57072d1be3eaae6e305246e8808c4821

К сожалению, во втором случае не очень понятно, зачем. Возможно для дебага надо тоже было вывести в читабельном виде. Но есть альтернативы https://stackoverflow.com/questions/74979

[2020-11-09 11:56] alex19EP commented on #119
он нужен только под windows.

хм. интересно почему он импортируется и на linux. надо глянуть.

[2020-11-09 11:56] zstanecic commented on #202
Instead of making a new issue, i will comment in this issue about my research and findings on the matter.
When i spoke with Olga privately, she said that problems with phonemes /m/ and /n/ with pseudo english turned off cannot be solved because of the issue with so called place of articulation.
What comes to the sh, zh, ch, shch, kh and possibly others, it is a problem of transliteration.
After we

[2020-11-09 11:59] zstanecic commented on #229
No, it is not possible, because it works as the sapi component.

[2020-11-09 13:26] alex19EP commented on #119
не могу повторить в своей среде. может кто-то попробовать собрать под linux без lxml?

[2020-11-09 18:43] alex19EP commented on #125
ok... hear are sum tests:

[code]

@KOLANICH what do you think?

[2020-11-09 21:58] KOLANICH commented on #125
It looks like there is no gain in LFSing these files. I wonder if LFSing other binary files will give anything. Also I wonder if we can do anything else to decrease the repo size, like moving the voices out of this repo into another repo.

[2020-11-10 21:13] abitrolly commented on #119
@alex19EP не повторяется проблема с `lxml` на Fedora 33 и на Ubuntu. https://ci.appveyor.com/project/yakshaveinc/rhvoice/build/job/lsola7ysb0xda9pg

Я тоже не нашёл пути по которому он бы триггерился.

[2020-11-11 12:29] beqabeqa473 opened #231 "scons: sapi5 Installers - cannot find WiX and NSIS"
in commit e5f1b23
it is no longer possible to run build process
KeyError: 'WindowsInstallers_core_64':
File "C:\Users\beqap\git-repos\rhvoice\SConstruct", line 357:
build_for_windows(base_env,vars)
File "C:\Users\beqap\git-repos\rhvoice\SConstruct", line 337:
SConscript(os.path.join("data","SConscript"),
File "c:\python\python39-32\lib\site-packages\SCons\Script\SConscript.py", line 661:
return me

[2020-11-11 12:43] beqabeqa473 commented on #231
i saw @alex19EP reverted problematic pr earlier, so no problem in this part, however it would be better to test changes before pushing.

Closely related to this issue.

e5f1b2372ca7ece6ab31e3f6e8a9bba7a685e41f
it is no longer possible to run build process

KeyError: 'WindowsInstallers_core_64':
  File "C:\Users\beqap\git-repos\rhvoice\SConstruct", line 357:
    build_for_windows(base_env,vars)
  F

[2020-11-11 13:14] alex19EP commented on #231
yes. i know that. ci would help with that. but to enable it we should move rhvoice to own organization.

e5f1b23
it is no longer possible to run build process

how nsys and wix are installed on your system? can you provide full build output?

i strongly disagree with this words. Moreover, I find them offensive towards the same contributor as you.

[2020-11-11 13:22] beqabeqa473 commented on #231
I have installed WiX and NSIS as usual.

i didn't have problems before this commit, so if something should be changed, it should be noted.

anyway, reverting this commit fixes issue and i don't thing we should make changes to build system and break others for rhvoice to be happy.

[2020-11-11 13:34] alex19EP commented on #231
can you provide environment variables related to wix and nsis?
for example: WIXTOOLPATH and NSISDIR

yes. but we don’t have, in principle, compilation documentation for Windows. I want to simplify this procedure. and create such documentation.

but you understand that this is not a solution to the problem?

[2020-11-11 13:43] beqabeqa473 commented on #231
ok, if you explain me with arguments why i should add these environment variables, what will be improved in this case and why these measures was taken? no problem.

but now, this change is not improving anything and no, you are not simplifying build process in this case, you make people take one more "unnecessary" step.

[2020-11-11 13:46] beqabeqa473 commented on #231
anyway, with WIX installed, i already have environment variable called WIX. why i should add one more or rename this?

[2020-11-11 13:53] alex19EP commented on #231
🙁 can i look at your variables first?

I repeat. if you can provide me with a list of your environment variables, then maybe I can fix this error.
without variables, I can argue with you endlessly. I will note that I do not want this at all.

[2020-11-11 13:56] beqabeqa473 commented on #231
I have environment variable called WIX which was set by WIX installer.
i don't have any environment variables related to NSIS and don't se a reason to set one, because checking from registry works well.

do you need any more details?

[2020-11-11 14:00] alex19EP commented on #231
yes what WIX contains?

not all ways to install nsys modify registry.

[2020-11-11 14:07] beqabeqa473 commented on #231
WIX; C:\Program Files (x86)\WiX Toolset v3.11\
installing nsis usually always writes installed location in registry. if it is not in your case, that is your problem to fix.

[2020-11-11 14:09] alex19EP commented on #231
try to install it wire [scoop](https://scoop.sh/). 😉

[2020-11-11 14:10] beqabeqa473 commented on #231
If you really want to simplify things, take an example from people from nvaccess and try to make virtual environment.

[2020-11-11 14:10] beqabeqa473 commented on #231
i use winget 🤣

[2020-11-11 14:14] beqabeqa473 commented on #231
i should repeat, "USUAL INSTALLATION". that is what most of people do. nsis installer doesn't set environment variables by default.

[2020-11-11 15:22] alex19EP commented on #231
@beqabeqa473 please test #232

[2020-11-11 15:50] beqabeqa473 commented on #231
'"C:\Program Files (x86)\WiX Toolset v3.11\\candle.exe"' is not recognized as an internal or external command,
operable program or batch file.

in standard WIX installation executables are in directory called bin

[2020-11-11 17:27] KOLANICH commented on #231
I test my changes ... on my configuration ... sometimes (some of the last PRs weren't tested, since in isolation they don't work and build on my machine, I have splitted them in order to pand them to reduce probability of rebase conflicts). The purpose of beta-versions (not releases, releases reside in https://github.com/Olga-Yakovleva/RHVoice/releases ) is to test on everyones configurations, not

[2020-11-11 17:44] alex19EP commented on #231
@beqabeqa473  ok now. #232 should be working. 🤞

[2020-11-11 18:01] beqabeqa473 commented on #231
Ok, thanks for fix.
i left a comment in pr, it seems line was splitted accidentally.

anyway, previous behaviour was restored.

[2020-11-11 18:05] #231 closed

[2020-11-12 16:08] Olga-Yakovleva commented on #206
@beqabeqa473 could you check your server please? I'm receiving complaints and on my device I seem to have confirmed the problem.

[2020-11-12 16:14] beqabeqa473 commented on #206
i am sorry for lots of complaints because of this issue. it is
happening quite frequently.
i fixed issue for now, but i will change server configuration in near
future, in next 2-3 days to eliminate this problem Once and for all.

again, sorry for the inconvenience.

On 11/12/20, Olga Yakovleva <notifications@github.com> wrote:

--
with best regards beqa

[2020-11-13 02:51] alekssamos opened #235 "NVDA Вылетает на неизвестных символах"
Если встретится какой-нибудь символ наподобие '\ud83e'
то произойдёт ошибка.
Если в Firefox листать стрелкой вниз или вверх, продолжение невозможно, виртуальный буфер вылетит и пролистать не получится.
Скорее всего, поможет аргумент errors='ignore' у функции decode? Или Try Except на крайний случай ?
[code]

[2020-11-13 14:14] alekssamos opened #236 "del"
del

[2020-11-13 14:19] #236 closed

[2020-11-13 16:02] alekssamos commented on #235
Я исправил эту ошибку.
Теперь всё хорошо и можно листать дальше.

[2020-11-13 16:16] alex19EP commented on #235
let's it be opened until pr is merged.

[2020-11-14 18:11] msva commented on #5
[rhvoice.build.log](https://github.com/Olga-Yakovleva/RHVoice/files/5541231/rhvoice.build.log)

// sorry for delay again

[2020-11-14 18:14] msva commented on #5
(and even changing syntax to `scons install ....` doesn't help: it still rebuilds the app..

[2020-11-14 18:20] msva commented on #5
uhm, interesting thing is that removing `-jN` from intall - helps...

looks like scons bug...

[2020-11-14 20:12] msva commented on #5
Anyway, I "fixed" the issue by moving to the new CMake build system (although, it has few bugs too, but I already fixed them and will make a PRs)

[2020-11-16 00:36] Menelion opened #245 "Installed Items Grouping in Windows Control Panel"
Hi @Olga-Yakovleva and maintainers,

That seems to be a tiny issue but I don't see how to fix it so far.
In Windows, when you install various RHVoice components and voices, they are interspersed in the Apps and Features applet, because all of them start from different letters, like the following:

[code]

and so on.
When you try to remove all the stuff (say, to upgrade), it becomes an unnecessary

[2020-11-16 07:21] beqabeqa473 commented on #245
hi @Menelion.

i've submitted #246
i've tested installers and nvda addons so RHVoice and its components are correctly groupped.

[2020-11-16 16:02] #245 closed

[2020-11-18 05:31] z3nth10n opened #247 "Can this speech SAPI5 voices on Linux? How can I use LTTS7 (Loquendo) voices with this?"
Hi,

I'd like to run this utility in order to speech texts using Loquendo LTTS7 voices on Linux. I have a huge mess trying to use Balabolka on Linux with Wine, but this is awful...

For this reason, I'd like t know if there is a possible solution for this on Linux with this utility or not.

Thanks!
PD: Is there available any Discord / gitter chat?

Best regards.

[2020-11-18 13:47] alex19EP commented on #247
hello.

i don't understand how RHVoice related to Loquendo.

maybe you can install the synthesizer to vine, but I don't know how to do it. and I think that no one here knows this.

no.

[2020-11-18 13:47] #247 closed

[2020-11-18 14:19] z3nth10n commented on #247
Thanks for your response!

I think I'll try: https://github.com/mjakal/sapi5_on_linux 😛

[2020-11-20 17:51] z3nth10n commented on #247
I would like to ask something more. I have discovered that there are binaries for Linux in Loquendo. Could be these binaries used in Linux.

I would like to know if there is an option to use this on Linux which any method.

I share the question I posted on Stackoverflow to let you know which methods I tried: https://stackoverflow.com/questions/64934405/trying-to-find-the-original-loquendo-products

[2020-11-21 05:49] abitrolly commented on #247
@z3nth10n you're using wrong tracker. RHVoice is not affiliated with Loquendo in any way. Write to their customer support if you're using their binaries.

[2020-11-21 17:09] z3nth10n commented on #247
I know that this project doesn't have any relation to Loquendo, but maybe somebody has taken care of this.

I already tried that without luck, I'm waiting for a response by Nuance. But I think they won't answer.

Btw, I created this question: https://stackoverflow.com/questions/64940135/cant-cross-compile-c-program-using-loquendo-arm-libraries-shared-objects-so

[2020-11-22 06:54] abitrolly commented on #247
@z3nth10n if they are not open source and don't answer, then why do you use them? :D

[2020-11-25 07:57] maniyax commented on #125
Up, please!

We are planning to add more new voices.

In current structure repository will be very big.

[2020-12-11 10:19] #206 closed

[2020-12-13 09:56] #235 closed

[2020-12-13 12:13] #229 closed

[2020-12-14 11:16] abitrolly commented on #191
I found a really good HTS tutorial at http://www.cs.columbia.edu/~ecooper/tts/ As `RHVoice` is based on HTS, I wonder how far the process differs from the what is described there?

[2020-12-14 11:17] abitrolly commented on #191
There is also a tool called [aeneas](https://github.com/readbeyond/aeneas) that can help with automatic labelling in different languages.

[2020-12-14 18:16] alex19EP commented on #174
fixed.

will work on it when time permits.

[2020-12-14 19:25] abitrolly commented on #174
Maybe this?

- a free and open source speech synthesizer for Russian and other languages
+ HMM based speech synthesizer with NVDA support

[2020-12-14 19:34] alex19EP commented on #174
but it's much more.

it seems to me that the current description reflects well the essence of the project.

[2020-12-14 19:37] KOLANICH commented on #174
How about adding hmm, hts and all the languages supported into project tags?

[2020-12-14 19:51] alex19EP commented on #174
done.

[2020-12-14 20:31] KOLANICH commented on #174
something is really missing ....

[2020-12-14 20:43] alex19EP commented on #174
не возможно. 🤨

[2020-12-17 20:58] techtonik commented on #125
I approve. =)

[2020-12-26 00:26] alex19EP opened #255 "crash when speech-dispatcher's emoji preprocessing is used"
## repro steps

1. add `SymbolsPreprocFile "emojis.dic"` directive in `/etc/speech-dispatcher/speechd.conf`
2. move cursor to any emoji, for example 🎄

## what happens

RHVoice crashes.

## what should be happen

RHVoice would speak the emoji.

[2020-12-28 12:48] ertay commented on #145
Hi @Olga-Yakovleva,
I didn't want to open a new issue for yet another language, so I will post my question here. I tried getting in touch with you via email about the Macedonian language, but not sure whether  you received it. I was wondering how far are you with the documentation for adding a new language. I am interested in working on adding the Macedonian language, but at the moment I am not qu

[2020-12-28 15:01] zstanecic commented on #145
Hi Ertay,

I wrote to olga last year about it even with the translated descriptions about the language, orthography, accents and so on.

From: ertay <notifications@github.com>
Sent: Monday, December 28, 2020 1:49 PM
To: RHVoice/RHVoice <RHVoice@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [RHVoice/RHVoice] Create a new Esperanto voice (#145)

Hi @Olga-Yakovleva <

[2020-12-29 08:45] DonaldTsang opened #257 "Question: An explination on quality of RHVoice vs Tacotron/Waveglow"
Pretext: For someone who really hates unnatural TTS, I am trying to look for FOSS alternatives for Android

RHVoice is a good candidate, however, IDK if this is as natural as Tacotron or Waveglow, or even the others.
- https://github.com/keithito/tacotron
- https://github.com/NVIDIA/waveglow and https://github.com/NVIDIA/flowtron
- https://github.com/r9y9/gantts and https://github.com/r9y9/nnmnkwi

[2020-12-29 12:46] #257 closed

[2020-12-29 13:36] abitrolly commented on #145
Maybe http://www.cs.columbia.edu/~ecooper/tts/ will be useful to understand how voices work in RHVoice and other HTS based software.

[2020-12-30 10:18] smok105 opened #258 "fail to build scon"
![image](https://user-images.githubusercontent.com/63140604/103345087-18b68a80-4a99-11eb-9e38-50d23fe9cbd7.png)

[2020-12-30 10:23] beqabeqa473 commented on #258
please write in text, so it will be possible to identify an issue and help you

On 12/30/20, smok105 <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: http

[2020-12-30 10:28] smok105 commented on #258
Good day! problem while building scons. I build through Docker fail and I get an error

[2020-12-30 10:30] smok105 commented on #258
![Uploading image.png…]()

[2020-12-30 10:30] smok105 commented on #258
![image](https://user-images.githubusercontent.com/63140604/103345687-b9f21080-4a9a-11eb-8f74-d01e083982f7.png)

вот сборка под docker

[2020-12-30 10:35] beqabeqa473 commented on #258
please write in text instead of giving screenshots.

maintainers, and most of users of this product are people with
blindness, and it would be better to write information as text, just
copy from terminal text and paste it here, so we can help you with
fixing an issue.

On 12/30/20, smok105 <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprog

[2020-12-30 10:39] smok105 commented on #258
I'm sorry, I didn't think about it

this is the error code

IOError: [Errno 2] No such file or directory: '/opt/RHVoice/data/voices/victoria/voice.info':
  File "/opt/RHVoice/SConstruct", line 370:
    build_for_linux(base_env,vars)
  File "/opt/RHVoice/SConstruct", line 328:
    duplicate=0)
  File "/usr/lib/scons/SCons/Script/SConscript.py", line 614:
    return method(*args, **kw)
  File "/usr/

[2020-12-30 10:46] beqabeqa473 commented on #258
try to use --recursive flag while cloning a repo or after clone run
git submodule update --init
it is because a latest new voice is integrated in RHVoice as a submodule.

On 12/30/20, smok105 <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebo

[2020-12-30 10:49] smok105 commented on #258
Это так просто ? Я попробую и отпишу. спасибо

[2020-12-30 10:50] beqabeqa473 commented on #258
No problem, glad to help.

On 12/30/20, smok105 <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: https://instagram.com/beqa.gozalishvili

[2020-12-30 12:20] smok105 commented on #258
It really works. I used this --recurse-submodules it is available with version 2.13. Thanks you

[2020-12-30 12:47] beqabeqa473 commented on #258
no problem.

On 12/30/20, smok105 <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: https://instagram.com/beqa.gozalishvili

[2020-12-30 12:48] abitrolly commented on #258
Perhaps `SCons` should restore submodules if they are absent.

[2020-12-30 12:54] beqabeqa473 commented on #258
i don't know if it is necesary.

i think edit in wiki would be enough.
there is only one more argument for clone, so i think there shouldn't
be a problem at all.

On 12/30/20, Anatoli Babenia <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebo

[2020-12-30 14:34] alex19EP commented on #258
yep we need to update documentation. can someone do that? if not i will do it next week.

[2020-12-30 15:02] beqabeqa473 commented on #258
i can do it.

by the way, i will generalize compiling and add windows and android
compiling instructions.

On 12/30/20, Alexander Epaneshnikov <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https

[2020-12-30 15:09] alex19EP commented on #258
thanks @beqabeqa473 FYI we no longer use wiki for this.

[2020-12-30 15:14] beqabeqa473 commented on #258
ok, i will rewrite compiling document then.

On 12/30/20, Alexander Epaneshnikov <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: https://instagram.com/be

[2021-01-04 15:36] mondlicht-und-sterne opened #259 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-08 19:13] kirkmarkarian opened #260 "Any possibility of an Mac OS X executable .app?"
Would be fantastic to have this option for OS X, especially since it's an open-source option.  Not a programmer, don't understand code enough to make this myself, otherwise I wouldn't pester 'ya :)

[2021-01-08 20:35] alex19EP commented on #260
I agree that support for mac os would be a great feature, but unfortunately neither me nor other developers have any mac computers or knowledge of platform api's.

maybe someone will be able to do it someday.

[2021-01-09 04:25] beqabeqa473 commented on #260
RHVoice test works on mac os without any problem.

just compile RHVoice and try to run.

i forgot how commandline player in mac os is called, but i think there
should not be a problem of finding it.

i am not sure how RHVoice will behave on new m1 chips.
unfortunately i cannot test as i myself have intel based device.

On 1/9/21, Alexander Epaneshnikov <notifications@github.com> wrote:

--
with be

[2021-01-09 05:20] kirkmarkarian commented on #260
Also on Intel, but I do not have any knowledge of how to compile a program - I’m a sound designer/microsound composer.  I’d you’ve got any tips on how to compile it AND have it be a regular .app, that’s be swell!

[2021-01-09 05:30] beqabeqa473 commented on #260
unfortunately, currently there is no possibility to use RHVoice as a
system tts, however as i said earlier, it is possible to use it from
terminal.

as for compiling, you should install clang, python and scons.
i can't remember if it is necessary to make modifications in source
code, but if it is required, there are easy ones.

i installed RHVoice about two years ago and can't remember all the
det

[2021-01-09 13:16] Futyn-Maker opened #261 "Adding support of "BreakCommand" in NVDA-addon"
Hello!

Some addons, for example, [Access8Math](https://github.com/tsengwoody/Access8Math) send break commands to synthesizer to make speech stop for a while.
`command = speech.BreakCommand(time)`

But the NVDA-version of RHVoice doesn't support handling of this or does it incorrectly. Is it possible to add or fix this functionality?

It's not a problem of SAPI5 version as SAPI5 driver supports ha

[2021-01-09 14:33] kirkmarkarian commented on #260
Thank you so much for your help, I'll take a look into this, but I'll repeat - I don't even really get the Terminal - I can copy/paste directions, but I don't know what I'm copy/pasting.  That's OK - MaryTTS still works for now on the Mac, so I'm good.  Thank you for your quick responses and helpful suggestions!

[2021-01-09 14:53] alex19EP commented on #261
@Olga-Yakovleva FYI

[2021-01-10 12:34] elnursamedzade opened #262 "Support for RHvoice voices"
Hello there.  Can you provide support for the Azerbaijani language?  I've done an Azeri synthesizer with marytts before.  I really want to work with RHvoice.  can you help me?

[2021-01-11 04:00] elnursamedzade commented on #95
I have my own recorded audio and text files.  Could you guide me to a new language?

[2021-01-13 09:02] dmikushin commented on #260
I'm interested helping with MacOSX app. Agreeing with @beqabeqa473 , I confirm compilation from source worked for me last year on Catalina. But fluency in manual compilation on MacOS is not as common as among Linux users. Hence, by providing a compiled MacOSX app bundle we clearly remove a lot of effort for many users. However, app bundle does not imply system integration.

[2021-01-13 09:30] beqabeqa473 commented on #260
I had a working protopype working on top of sockets which was
exchanging text and audio and mac os app, which was integrating with
system, but it stopped working with update to 10.15.4 i think, where
some policies have been made strict.

i know, it is possible to fix that, but it involves users to work with terminal.
other more correct way is to sign an app with cert, but i don't have
such one for

[2021-01-13 09:37] dmikushin commented on #260
@beqabeqa473 Sounds really interesting, do you have this prototype published somewhere? MacOS apps need to manifest a permissions file, such that a user could explicitly allow e.g. webcam capture. For trusted app this may still work without a certificate.

[2021-01-13 09:46] beqabeqa473 commented on #260
no, i don't have it published.

i still need to polish things and after i'll try to push it to github.

i don't know if it work on bigsur though.

On 1/13/21, Dmitry Mikushin <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://faceb

[2021-01-13 09:51] dmikushin commented on #260
Let's put bigsur aside for the time being. I think a reasonable workflow would be first to add build rules for creating a bundle, which I can do. Secondly, I could potentially fix your sockets thing (if you wish to share it), by writing a proper `Info.plist` file.

[2021-01-13 09:55] beqabeqa473 commented on #260
unfortunately it is not possible to put bigsur aside, because i
already updated and i will need a fix if it will stop working.

so, anyway, i will try to provide a working version.

On 1/13/21, Dmitry Mikushin <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.m

[2021-01-16 10:16] Olga-Yakovleva commented on #255
I've pushed a fix, please test.

[2021-01-17 10:03] beqabeqa473 commented on #261
i've tried to implement breakCommand support, but it seems RHVoice don't support time attribute.

i tried to add it to the C++ code, but it seeme i can't understand how to pause speech.

@Olga-Yakovleva code you explain how to pause speech, or maybe you will be able to add time attribute processing in engine itself?

[2021-01-17 23:31] alex19EP commented on #255
fix confirmed.

[2021-01-17 23:31] #255 closed

[2021-01-29 19:25] tema6120 opened #263 "When I switch to Esperanto I get TextToSpeech.LANG_NOT_SUPPORTED although it is available"
I am a developer of [ForgetMeNot](https://github.com/tema6120/ForgetMeNot). Having testing different TTS engines in my app I noticed the unusual behavior with Esperanto. When I call
[code]
Esperanto appears in the set of languages. If I try:
[code]
I get TextToSpeech.LANG_NOT_SUPPORTED. There are no problems with other languages.

[2021-02-03 13:53] Olga-Yakovleva commented on #263
Yes, I think this must be a bug I introduced by fixing another one.
Esperanto is a special case, because it's not a language of a country,
so there are no real country codes for it. Android didn't like a
language without a country code, but I wasn't careful enough in my
workaround. I'll be looking into this again.

[2021-02-05 02:54] DgDays opened #264 "How to install RHVoices on Linux?"
Good day!  Met with a problem installing voices on Linux.  I used to work with the Russian set of voices on Windows and everything was fine, but on Linux I do not know how to properly install the voices so that python packages can see them.  Help me please

[2021-02-05 02:56] DgDays commented on #264
Yes, by the way, he sees the voices, but he separates them only by languages ​​that do not work, and as such he does not notice voices

[2021-02-05 10:12] alex19EP commented on #264
pleas provide more info:

1. what distribution are you using?
2. how do you use rhvoice with python on windows?

[2021-02-05 10:13] #264 closed

[2021-02-09 11:29] winman3000 commented on #24
Is there any progress on this in the meantime? Has anyone tried to import the voices from MaryTTS for RHVoice?

If there is no existing data we can use for this project, we will have to do everything from scratch. Unfortunately I have to repeat my questions:

1. How long does the audio need to be?
1. How exactly do you do the mapping if you have the text to go with it?
1. Is there really no materi

[2021-02-09 14:39] alex19EP opened #266 "add a way to use system provided libs"
we should prefer system libraries and use src/third-party only as a fallback.

good start would be:

1. libsonic
2. rapidxml
3. tclap

[2021-02-10 08:40] abitrolly commented on #266
How to maintain API compatibility with those libs?

[2021-02-10 10:38] alex19EP commented on #266
tclap, rapidxml and libsonic has a rather stable API.

[2021-02-10 12:50] abitrolly commented on #266
My DevOps experience tells me that unless you're packaging for a specific distro, there is no such thing as a stable API. )

[2021-02-10 14:47] alex19EP commented on #266
we already packaging for a specific distro. this will help pkg maintainers.

[2021-02-10 18:33] legolego opened #267 "Error installing RH Voice"
I'm trying to install RHVoice 1.2.3 but I'm getting an error.
My NVDA version is 2020.3
I have no other addons installed.
![image](https://user-images.githubusercontent.com/1666188/107554832-75cb5300-6ba4-11eb-960a-52153ccf1ba2.png)
![image](https://user-images.githubusercontent.com/1666188/107554844-79f77080-6ba4-11eb-93b5-c6ed2674cc0d.png)
Is there something I can check? Thank you very much!

[2021-02-10 23:33] alex19EP commented on #267
first can you replace screenshots with text of errors?
main RHVoice dev and I blind. so screenshots really won't help us solve the problem.

also describe how you install the add-on? have you installed at least one voice? it would be good to add logs as well.

[2021-02-11 00:32] legolego commented on #267
Sure, yes.
I installed the RH Voice 1.2.3 through Manage-Addons and it was ok.
After restarting NVDA 2020.3, I went to Preferences , Settings, Speech, and try to change the synthesizer to be RH Voice.  I see it as an option, but when I choose it, I get a windows titled Synthesizer Error, with a message that says: Could not load the RHVoice synthesizer. I tried changing the Audio output device and

[2021-02-11 00:39] alex19EP commented on #267
you can get voices from https://github.com/RHVoice/RHVoice/blob/master/doc/en/Binaries.md you need to install at least one.

[2021-02-11 01:26] legolego commented on #267
Ok, thank you! :) Yes, I installed a language and now I was able to choose RHVoice. Could you change the error message to ask if the user has a RHVoice language already installed? I'm still learning all the files and addons to NVDA. Thank you very much for your help! :)

[2021-02-11 18:20] mondlicht-und-sterne commented on #259
Since the issue dates back a long time - can you just close
the issue? Thank you, my initial Issue was also just information.

[2021-02-11 18:43] alex19EP commented on #259
actually it would be nice to do this. we just don't have time at the moment.

[2021-02-19 17:07] alex19EP commented on #125
we exported all languages and voices into separate git repos in RHVoice organization.

now we have to do the following.

- [ ] improve documentation on cloning and building with submodules #258
- [ ] notify package maintainers on infrastructure changes.
- [ ] rewrite project git histery with data as a submodules

also we will need to save the archive of the last git-tag.

also I think it is worth

[2021-02-19 17:24] alex19EP commented on #258
@beqabeqa473 a friendly ping.

[2021-02-20 05:20] abitrolly commented on #125
Before rewriting the history please archive old repo.

[2021-02-20 05:30] beqabeqa473 commented on #262
hello.

if you did a language, you should have language analizer module, and speaker recordings with equivalent texts.

so, you should be able to provide everything listed above, and maybe it will be possible to adapt language module for rhvoice.

[2021-02-20 05:45] beqabeqa473 commented on #258
Hi @alex19EP

Yes, i remember about documentation and am slowly writing it.
I will try to finish up whole thing in the next week and will make a pr.

[2021-02-20 05:49] beqabeqa473 commented on #125
Yes, i agree with that.

On 2/20/21, Anatoli Babenia <notifications@github.com> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: beqaprogger@gmail.com
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: https://instagram.com/beqa.gozalishvili

[2021-02-20 15:32] maniyax opened #269 "APP files"
Hello!

1. Please, add all voices in android section of binaries.md.

2. When will you do voice storage for Android on Github?

[2021-02-21 01:55] alex19EP commented on #269
when we will release a new version.

[2021-02-22 18:58] adxamjon97 commented on #258
![image](https://user-images.githubusercontent.com/33910784/108756061-d9249000-7569-11eb-8c19-4ade392e9428.png)

[2021-02-22 20:28] zvezdochiot commented on #258
!!! `/Загрузки` !!!

Bad path!

[2021-02-22 21:14] abitrolly commented on #258
Python 3 should be ok with Russian paths. Most likely missing submodules. https://github.com/RHVoice/RHVoice/issues/258#issuecomment-752413224

If that's the case, it is possible to just improve SCons message. The consensus was that people don't want SCons to do the automatic submodule checkout.

[2021-03-07 14:39] elnursamedzade commented on #262
Yes, before that I made a synthesizer in my language with marytts. I need
rhvoice to use it with Android. Can you help me?

beqa gozalishvili <notifications@github.com>, 20 Şub 2021 Cmt, 09:30
tarihinde şunu yazdı:

[2021-03-10 06:13] thestinger opened #271 "add Direct Boot support for Android so RHVoice can be used with TalkBack before the initial unlock"
More information:

https://developer.android.com/training/articles/direct-boot

https://github.com/GrapheneOS/platform_packages_apps_Updater is a trivial example of using this.

You need to mark a subset of the functionality as direct boot aware and make sure it's capable of running in that state. A minimal amount of data needs to be migrated to being stored in device encrypted storage via the API

[2021-03-13 18:29] winman3000 commented on #95
I am also still looking for how to build a new language and voice for RHVoice. Especially for German. Does anyone have a step by step guide?

Especially I am interested in the following questions:
1. What is needed to build a new voice and a new language, for example for German? I know that the text and the recording must exist.
1. How long must the recording be?
1. How exactly do I have to procee

[2021-03-13 18:43] KOLANICH commented on #95
I guess that it may be intentional. There exists a business around making voices for RHVoice (and claiming copyright on them).

[2021-03-13 18:55] winman3000 commented on #95
I think I know what you mean. However, I would like to have a German voice for RHVoice. Unfortunately, I don't seem to get much help here...

[2021-03-13 19:05] KOLANICH commented on #95
I guess there is not so many options except someone neutral and independent writing the docs oneself.

[2021-03-13 19:08] zvezdochiot commented on #95
@winman3000 say:

Maybe use https://rhvoice.su/create/

[2021-03-13 19:16] KOLANICH commented on #95
It won't solve the issue with lack of docs, instead it would reward the company for the lack of docs.

[2021-03-13 19:22] nshmyrev commented on #95
@winman3000 you'd better check German voices here:

https://github.com/TensorSpeech/TensorFlowTTS

https://colab.research.google.com/drive/1W0nSFpsz32M0OcIkY9uMOiGrLTPKVhTy?usp=sharing

[2021-03-13 19:27] zvezdochiot commented on #95
@KOLANICH say:

Not? And what in return?

[2021-03-13 19:47] alex19EP commented on #95
you're wrong the lack of documentation is unrelated to rhvoice lab and its voices.
this is only due to the lack of time on the part of the main developer.

I'm really sorry, but Olga doesn't have a lot of free time now, and I'm far from being a specialist in these matters.

I can only say that creating new voices is much easier than creating a new language. for this you will definitely need knowle

[2021-03-13 20:13] abitrolly commented on #95
@winman3000 I suggest to create another issue specifically for German, because in HMM synthesis each language not only needs a voice data, but also a bit of programming for the "language model". Then if I had time, I would follow http://www.cs.columbia.edu/~ecooper/tts/data.html and report my progress there.

As for alternatives I'd expect the German model implemented in MaryTTS, but docs are arch

[2021-03-13 20:43] winman3000 commented on #95
@abitrolly: Thank you for your help. Unfortunately, I have no programming skills to program the German module. Too bad.

I already created an issue for it a few years ago, however this makes no progress. See Issue #24.

[2021-03-13 20:45] KOLANICH commented on #95
Yes. And I feel like that we shouldn't expect the lab staff (which I consider to be a part of this project too, so if they were not having a company making voices, I'd assigned to them the probabilities of creating the docs within a unit of time higher than most of contributors to this repo, but as they are members of an org, I currently assign them probabilities that are lower than other contribu

[2021-03-13 20:50] winman3000 commented on #95
@alex19EP:

Then I'm afraid that there will never be a German voice for RHVoice, because unfortunately I lack the programming skills for it. Moreover, I don't know anyone who could help me here. Too bad, because RHVoice is very small and responsive.

Nevertheless, I thank you for your help!

[2021-03-13 20:54] abitrolly commented on #95
@winman3000 @KOLANICH has programming skills. :D

[2021-03-13 20:58] abitrolly commented on #95
I am trying to create my own voice for more than three years by now. I leaned I lot about HMM and signal processing, spent a lot of time talking about it and RHVoice, and yet I haven't found the time to just sit and follow the links I gave you to see how far I can get.

[2021-03-13 21:01] abitrolly commented on #95
Yet the work done by Olga on RHVoice and Maria on MAGE to make the synthesis responsive is fascinating.

[2021-03-13 21:08] winman3000 commented on #95
@abitrolly: What I like about RHVoice is that it requires very few dependencies such as Java etc.. I would like to use it with NVDA, an open source screen reader for the blind. Unfortunately, since I lack programming experience as mentioned above and there doesn't seem to be a project to build on, I guess I'll have to pass on it.

Sorry for spamming this issue, I didn't mean to turn it into a disc

[2021-03-13 21:22] winman3000 commented on #95
Sorry, I have one last question about this:

is it possible to port the HMM-based voices from the Mary TTS project to RHVoice? Mary TTS has HMM-based German voices. Probably you need programming skills for this as well, right?

[2021-03-13 21:41] maniyax commented on #95
Hi all!

1. RHVoice Lab may be create only voices, not language modules.
2. We haven't documentation of creating voices. Our activity is only experiment and experience. We don't have to write documentation.
3. We haven't resources for experiments of creating language modules. We waiting official documentation from Olga as everyone.
4. We don't the company or business organization. We just a team o

[2021-03-13 22:06] KOLANICH commented on #95
Isn't a team already an organization?

https://en.wiktionary.org/wiki/organization

A team surely matches this definition.

[2021-03-13 22:19] KOLANICH commented on #95
I wonder which entity holds the copyright on the voices the team produces and what are the usual conditions for using your voices. Do you require commercial users to pay?

[2021-03-13 22:22] winman3000 commented on #95
@maniyax: Sorry, it was not meant to be an accusation. I realize that you are a team of volunteers and you are not committed to anything. You have family, work, studies or whatever, and such things naturally take priority over volunteer projects.

Until recently, I didn't know that a new language would require a new language module and that programming skills would be required. Even if there would

[2021-03-14 07:30] maniyax commented on #95
@KOLANICH
1. A non-profit organization isn't a business organization.
2. NPO is official registrated legal entity. We don't organization.

[2021-03-14 07:45] maniyax commented on #95
Hello, @winman3000!

When Olga writes documentation for creating new languages, we would be able  to start experiments.

[2021-03-14 07:57] KOLANICH commented on #95
I have corrected my previous posts in this issue, replacing the words "org", "business" with "team". So I apologize for confusing the team to a for-profit org.

Could you still clarify the usual conditions under which people get a license for commercial usage and what the real reasons were to allow noncommercial but potentially unethical usages like pranking people who know the person who was a so

[2021-03-14 08:03] abitrolly commented on #95
@KOLANICH if you're not interested in researching how to build voices yourself, go to https://github.com/RHVoice/RHVoice/discussions for your question about how unethical are people for not creating these voices for you. :D

[2021-03-14 08:35] KOLANICH commented on #95
I don't say it is unethical not to create voices for me. It is completely ethical not to do the things that contradict to one's best interests. Such as working for free. Or such as helping competitors.

I just want the team to explicitly declare its interests so we can better understand what we can and should expect from the team members and what we shouldn't.

[2021-03-15 08:53] abitrolly commented on #95
@KOLANICH you yourself can't even explain why you can't just go and ask the offtopic question in the appropriate place, so I don't know why you would expect a consensus from several people on the matters they probably never thought about.

[2021-03-15 17:26] KOLANICH commented on #95
I don't think so. The decision to license voices under any license (maybe except WTFPL) requires a consensus among all the holders. The decision to license under a non-free license ... requires a deeper consensus and maybe even a legally binding aggreement, because it is weird when the holder himself is not allowed to do something with something he has created.

[2021-03-15 17:53] abitrolly commented on #95
@KOLANICH so why you can't just go and ask the offtopic question in the appropriate place?

[2021-03-15 18:23] fernando-jose-silva opened #272 "compatibility with NVDA 2021.1"
when installing the new alpha version of nvda 21895, i noticed an incompatibility with nvda, nvda does not pronounce various information during windows navigation, the lines are cut.
As I understand it, nvda has made changes that affect the voice add-ons.
I'm not a programmer so unfortunately I don't know how to say anything else.
I would also like to apologize, I speak Portuguese and this text is

[2021-03-15 18:53] alex19EP commented on #272
hello @fernando-jose-silva we plan to make RHVoice compatible with next version of NVDA.

this work will begin when first NVDA beta is released.

[2021-03-15 19:07] fernando-jose-silva commented on #272
thank you very much for the return, anxious! laughs.

Enviado do Email para Windows 10

De: Alexander Epaneshnikov
Enviado:segunda-feira, 15 de março de 2021 15:53
Para: RHVoice/RHVoice
Cc:fernando-jose-silva; Mention
Assunto: Re: [RHVoice/RHVoice] main add-in compatibility with alpha versionsof nvda (#272)

hello @fernando-jose-silva we plan to make RHVoice compatible with next version of NVDA.
t

[2021-03-15 19:50] KOLANICH commented on #95
Because it is not an offtopic here, since it is related to this issue.

[code]

[2021-03-15 19:57] abitrolly commented on #95
Everything is related. Say in one sentence what is not offtopic, and why it is directly related to this issue, and I may believe you.

[2021-03-15 20:15] zvezdochiot commented on #95
Moral dilemma:
- [ ] allow to profit from the engine, thereby stimulating its development
- [ ] insist on adherence to norms, thereby inhibiting development

---

- [x] what is your choice?

[2021-03-16 07:33] maniyax commented on #95
Hello, @KOLANICH!

1. We don't owe you anything. Please remember this.
2. Creating voice is very long and resource-intensive process. We didn't get any help from you or anyone else.
3. We (our team and speakers) are against uncontrolled commercial use of our products.
4. No one from RHVoice have rights to modify, use commercially, or make decisions on these voices, since you did not create them. T

[2021-03-16 12:24] KOLANICH commented on #95
I absolutely remember it. Even clarifying the situation in your message was an act of goodwill. Thank you for that.

I know. I just wanna try to create a voice myself.

Thank you for explicitly clarifying the matter by writing this. That's what I expected to see.

So you try to achieve control, so availability of free (under free licenses) voices created by third parties will allow people to use R

[2021-03-16 18:38] abitrolly commented on #95
@KOLANICH how do you earn money for living? I am sure if you can persuade your sponsors to support RHVoice case (and they'll be interested, because you've already spent so much time here that you could spend with them..) then maybe nobody will object to invest time to releasing a voice without commercial restrictions.

However, if you investigate the history of voice synthesizers and how companies

[2021-03-16 19:41] KOLANICH commented on #95
I don't own any company that has set prices for blind users. I don't work for any company related to selling products tagetting blind users.

<details>
<summary>Offtop</summary>
And I am completely ignorant of the issues that blind users have. I cannot even imagine how one can walk outdoors while being blind and without help of other people or a dog or a special device (are there any?). How do the

[2021-03-22 17:14] Slva86 opened #276 "Cannot build RHVoice in raspberry pi 4 Linux, SCons don't find Speech Dispatcher(Checking Speech Dispatcher version ... no)"
scons: Reading SConscript files ...
Mkdir("build/linux")
Checking whether the C compiler works... yes
Checking whether the C++ compiler works... yes
Checking for pkg-config... yes
Checking for libpulse-simple... yes
Checking for ao... yes
Checking for portaudio-2.0... yes
Checking Speech Dispatcher version ... no
('Configuring ', '/usr/src/RHVoice/src/core/config.h.in', 'into', '/usr/src/RHVoice/s

[2021-03-22 18:57] alex19EP commented on #276
you need to clone the repo with --recursive flag. or init and update submodules.

[2021-03-22 19:00] alex19EP commented on #276
Duplicate of #258

[2021-03-22 19:00] #276 closed

[2021-04-06 18:43] KOLANICH opened #278 "Find out if any part of https://github.com/google/lyra may be helpful for this project."

[2021-04-06 22:41] #278 closed

[2021-04-08 23:33] grravity opened #280 "F-Droid Anti-Feature?"
Was curious why F-Droid lists the app as promoting non-free software under anti-features?

[2021-04-09 01:23] BlindTango opened #281 "Compiling on Raspberry OS gives errors"
I followed all the instructions to compile the speech synthesizer on the Raspberry OS using a Raspberry model 4B 8Gb unit.

The compiling process complains that GCC version 7.1 has some changes and does not end up in a successful compilation.  Can the instructions be corrected to include the exact versions of developing tools?

[2021-04-09 03:16] beqabeqa473 commented on #281
Hello.

It would be great if you include more details what kind of error you
are getting so community could try to fix an error if applicable or
help you to fix it on your end.

On 4/9/21, BlindTango ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://face

[2021-04-09 03:24] abitrolly commented on #280
Because all voices are CC-BY-NC-ND? https://github.com/RHVoice/RHVoice/blob/master/LICENSE.md

[2021-04-09 10:09] alex19EP commented on #280
not all. but we need to clarify it.

[2021-04-09 11:15] SergTSA opened #283 "Problems with Android 11"
The settings file of RHVoice is not accessible after Android11 is installed because of its restrictions to reach .../Android/data/... without root rights. Please move settings file to accessible without root location or build opportunity to chabge settings throw the program interface.

Phone - Samsung Note 20 Ultra.

[2021-04-09 11:26] SergTSA opened #284 "Strange pronunciation of multiple punctuation marks"
In Samsung TalkBack function multiple punctuation marks are pronounced like as "Символов Восклицательный  знак три".

Android 11, Samsung Note 20 Ultra

[2021-04-09 11:41] alex19EP commented on #284
can you provide specific steps to repeat the error?

[2021-04-09 13:03] SergTSA commented on #284
First you activate Talkback in Samsung Android11 by pressing Vol+ and Main. Then in browser open any text containing multiple punctuation marks with text - [for example](https://author.today/reader/113107/897645)
you can see string
`засранка, новую куртку!!!`
the last three explanation marks are read as
`"Символов Восклицательный знак три`

[2021-04-09 13:09] SergTSA opened #285 "Strange pronunciation of multiple punctuation marks"
In Samsung TalkBack function multiple punctuation marks are pronounced like as "Символов Восклицательный знак три".

Android 11, Samsung Note 20 Ultra

alex19EP commented 1 hour ago
can you provide specific steps to repeat the error?

First you activate Talkback in Samsung Android11 by pressing Vol+ and Main. Then in browser open any text containing multiple punctuation marks with text - [for exam

[2021-04-09 14:40] alex19EP commented on #285
Duplicate of #284

[2021-04-09 14:40] #285 closed

[2021-04-09 14:42] alex19EP commented on #285
let's not clutter the issue list.

[2021-04-09 14:42] alex19EP commented on #284
Do I understand correctly that this problem does not happen on android10 and not on samsung phones?

is punctuation reading enabled in talkback settings?

[2021-04-09 17:14] SergTSA commented on #284
It's not the same at Android 9 redmi note 5 phone but RHVoice version was 1.2.2, the next did not updated. When 1.2.3 was installed  it still did not anounced triple marks. The Android 10 in Samsung had another function smth like display-reader, not talkback. And now I can't check.

Note 10+ and Note 20U from samsung both anounced multiple marks as in Chrome as in Mi brousers.

[2021-04-14 00:50] seniorm0ment opened #286 "[Feature] Add Pico TTS"
Requesting addition of pico tts.

[2021-04-14 07:04] abitrolly commented on #286
Addition to where?

[2021-04-14 12:18] alex19EP commented on #286
I do not quite understand you, can you clarify what exactly you want?

[2021-04-18 22:34] #286 closed

[2021-04-19 17:30] dorozhinsky commented on #161
Hi,

after installing the packages from the ppa, unfortunately the problem still exists:

dorozhinsky2@dell-Inspiron-5570:~$ spd-say -o rhvoice -L
Failed to get voice list.

dorozhinsky2@dell-Inspiron-5570:~$ inxi -S
System:    Host: dell-Inspiron-5570 Kernel: 5.4.0-72-generic x86_64 bits: 64 Desktop: MATE 1.24.0
           Distro: Ubuntu 20.04.2 LTS (Focal Fossa)

[2021-04-19 19:17] alex19EP commented on #161
@linvinus can you update package in your ppa?

[2021-04-21 23:09] yurivict opened #292 "Is there documentation how to integrate RHVoice with Orca?"
Or could you please add instructions to README?

Thank you,
Yuri

[2021-04-21 23:12] alex19EP commented on #292
you just need to install speech-dispatcher module. and that all.
instructions for compiling are at: doc/en/Compiling-on-Linux.md

[2021-04-21 23:51] yurivict commented on #292
After this, how to instruct Orca to use RHVoice module instead of others?

[2021-04-21 23:56] alex19EP commented on #292
you need to select RHVoice in orca settings.

[2021-04-22 00:18] yurivict commented on #292
Thanks!

[2021-04-22 00:18] #292 closed

[2021-04-22 00:25] yurivict opened #293 "No sound when called without specifying a voice. It seems to ignore"
I have RHVoice module installed, it shows in the list, but it doesn't produce any sound through ```spd-say```:
[code]
When it is changed to ```espeak``` - it does makes sound.

Why ```rhvoice``` doesn't make sound in this setting?

Then I run ```echo "Спасибо." | RHVoice-test```. This also doesn't produce sound.
But when the voice is specified - it does produce sound: ```echo "Спасибо." | RHVoice-

[2021-04-23 10:13] KOLANICH opened #294 "change voice artifacts name pattern"
Because package names like `rhvoice-voice-ru-evgeniy-rus` are not nice.

[2021-04-23 10:16] maniyax commented on #294
Hi!

No. It's users choice.

[2021-04-23 10:48] alex19EP commented on #294
I agree. I think we need to remove ru from the middle.
eg: rhvoice-voice-evgeniy-rus.

yes indeed there was a vote and people decided so. moreover, voices that are already prepared as submodules already follow this pattern.

[2021-04-23 12:16] KOLANICH commented on #294
In fact, `rus` from the end. `ru` is added automatically intentionally to make `apt list rhvoice-voice-ru-*` and `apt install rhvoice-voice-ru-*` work

[2021-04-23 12:24] KOLANICH commented on #294
@maniyax, could you please contact the persons whoose choice was to have such names for the 2 voices and ask them think about the naming again, and pass them my proposal?

[2021-04-23 12:27] maniyax commented on #294
@KOLANICH, No comments.

[2021-04-23 12:33] beqabeqa473 commented on #294
@KOLANICH, why do you think that everyone should dance on music you
want to play?

we made a vote, people voted to give naming as it is now.

why all of them should rethink their decision because of you?
do you give account of what you say?

On 4/23/21, Artem Plaksin ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype:

[2021-04-23 12:53] KOLANICH commented on #294
@beqabeqa473, because the names are objectively and obviously don't look well. But I feel like the answers are the confirmation that you prefer them to be such. OK, it's your stuff has bad-looking names, not mine, in the first place.

[2021-04-23 13:13] KOLANICH opened #295 "Restructure data/voices"
Currently data/voices contains subdirs, each subdir for each voice. It is proposed to put there subdirs for locale codes, and then move subdirs for voices into subdirs for locale codes corresponding to the languages of the voices, and then remove this info from `data/CMakeLists.txt`.

[2021-04-23 13:16] alex19EP commented on #294
let's calm down a little, no need to call each other meaninglessly.

at the moment we have a problem with duplicate information in the names of voice artifacts.

@KOLANICH offers a solution. As I said, I don't think this is a good idea since we already have repositories that follow exactly this style of naming.
for example:

* https://github.com/RHVoice/natalia-ukr
* https://github.com/RHVoice/pav

[2021-04-23 13:25] alex19EP commented on #295
we need to consult with @Olga-Yakovleva  about this.

[2021-04-23 13:45] beqabeqa473 commented on #294
Yes, i agree that naming of voices should be somehow changed.

i think that for packaging, it is possible to remove language
definition from middle and put it at the end, similarly how it is for
Evgeniy.

but there is one problem.

how we should name voices in voice.info?

will it be ok to display names like evgeniy-eng, anna-rus, talgat-tat
in client applications?

On 4/23/21, Alexander Epaneshni

[2021-04-23 13:50] alex19EP commented on #294
in client applications?

this is a good question. Olga and I thought about it. for now we are planning to create one more variable only for presentation in interfaces.

[2021-04-23 13:58] beqabeqa473 commented on #294
why i am asking this is that if that representation of voice names
will be ok for rest of users, it will not be required to add one more
variables for interfaces and user will definitely  know how voice is
named to configure it in auto language switching.

On 4/23/21, Alexander Epaneshnikov ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: http

[2021-04-23 14:01] alex19EP commented on #294
definition from middle and put it at the end, similarly how it is for
Evgeniy.

@KOLANICH brought  valid concern that then tab auto completion will not work.

I think good solution would be to move the rus suffix to the middle of the artifact name.

[2021-04-23 14:13] beqabeqa473 commented on #294
then how internal voice name will look like?
what should people write to create voice profiles?

On 4/23/21, Alexander Epaneshnikov ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagra

[2021-04-23 14:14] KOLANICH commented on #294
It is not about naming of the repos. Submodules can be extracted into dirs of any name. It is about that my CMake scripts rely on the fact voice name matches its dir name. But we cannot have 2 voices named just `evgeniy` in the same dir. So the solution is to either rename both to just `evgeniy`, and put into separate dirs, as proposed in #295.

Also it may be possible to move language code before

[2021-04-23 14:21] alex19EP commented on #294
this is precisely what requires thought and discussion.

[2021-04-24 10:03] Nikita34196 commented on #272
привет. есть ли возможность выпустить новую версию до выхода первой betta nvda 2021? я использую alfa версии. в последних rhvoice практически не работает. изза несовместимости стало невозможно практически использовать nvda с rhvoice

[2021-04-24 10:30] beqabeqa473 commented on #272
@Nikita34196 вы можете заменить до выхода официального релиза драйвер из pr который прикреплен к issue.

[2021-04-24 10:50] Nikita34196 commented on #272
@beqabeqa473@beqabeqa473 благодарю

[2021-05-03 14:39] abitrolly commented on #294
A bit of bikeshedding from my side, I'd prefer this scheme:
[code]
which uses country codes and is sorted by language. I prefer country codes, because everybody used to them.

[2021-05-03 15:03] maniyax commented on #294
Hi @abitrolly

Countries codes is good.

But for voice naming was choosed this format.

P.S.: Please understand that voice is called Evgeniy-rus. Voice isn't called Evgeniy.

[2021-05-03 16:04] viktar25777 commented on #112
### Здравствуйте всем, провожу тест, командой указанной выше всё отрабатывает без вопросов.При попытке сделать линк, пишет что данный файл уже существует. Версия speech dispatcher 0914. Как можно убрать ошибку при сборке через scons при запросе версии speech-dispatcher ... no

[2021-05-03 16:04] abitrolly commented on #294
I don't understand. Package naming conventions are for packaging stuff. They do not need to match names that are used for user interfaces. If that is the point your trying to make.

"voice artifacts" are packages, not "voice names"

[2021-05-03 16:10] zvezdochiot commented on #112
@viktar25777 say:

Ну так удали линк предыдущей версии и добавь для новой.

[2021-05-05 06:40] VeH-c opened #299 "all Downloads from bintray.com fails with "Forbidden!" error"
links in doc/en/Binaries.md and doc/ru/Binaries.md aren't working anymore

[2021-05-05 14:35] alex19EP commented on #299
we need to move binary artifacts for windows elsewhere.

[2021-05-05 14:38] maniyax commented on #299
Primarily artifacts for android.

[2021-05-05 14:39] Olga-Yakovleva commented on #299
I've updated the links in the Android app. Please, people who can build that from source, confirm if the downloads are working there for you. I'll be uploading the other files in the meantime.

[2021-05-05 16:09] Olga-Yakovleva commented on #299
I've replaced the links to the current binaries.

[2021-05-05 16:41] beqabeqa473 commented on #299
I can confirm links in the android app are working as expected by
installing build from GH actions

On 5/5/21, Olga Yakovleva ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: htt

[2021-05-05 21:22] vasoge opened #300 "can't download voices in android app"
can't download voices in android app. only Georgian voice downloaded,  but no sound.

[2021-05-05 22:42] alex19EP commented on #300
we will update android application ASAP. sorry for inconvenience.

[2021-05-05 22:46] alex19EP commented on #299
ok links in doc/en/Binaries.md and doc/ru/Binaries.md are working now, so I closing this.

[2021-05-05 22:46] #299 closed

[2021-05-06 11:11] socketpair opened #301 "Feature request: publish examples (mp3) of speech synthesis"

[2021-05-06 14:13] Olga-Yakovleva commented on #299
Just an explanation why there is no update through Google Play yet. I've published it yesterday, and Google are still reviewing it, whatever that means. So waiting for their approval.

[2021-05-07 01:22] alex19EP commented on #300
Android app had been updated on play store

[2021-05-07 01:23] #300 closed

[2021-05-19 03:01] kirkmarkarian commented on #260
Any luck with this?  I know I pestered you a long time ago - still would be neat to see if there's any OS X version to work with!

[2021-05-19 07:13] dmikushin commented on #260
No progress from my side yet, but we can reprioritize. Please note that
MacOS .dmg existence does not imply that the system integration is fully
done. You will be able to install a package, but it will run the RHVoice
console utilities only. We need a plan on how to implement the system
integration.

ср, 19 мая 2021 г. в 05:01, kirkmarkarian ***@***.***>:

[2021-05-19 13:22] kirkmarkarian commented on #260
Please do not rush on my end - I am just impressed that these things are finally being considered so OS X users can use them.  We're stuck with the system voices, and they can't be used for anything other than audio-playback.  Commercial usage is always an issue, and TTS voices are so useful for all sorts of musical endeavors.

[2021-05-24 13:56] #272 closed

[2021-05-24 15:12] fernando-jose-silva commented on #272
please, what is the download link for the version compatible with nvda 2021 i am not very familiar with github And from what i noticed on the project page the download link still points to version 1.2.3 thank you very much.

[2021-05-24 19:57] alex19EP commented on #272
hello. for now you can get addon from: https://alex19ep.me/public/RHVoice/RHVoice-1.2.4.nvda-addon

I think Olga will update our file with links in the near future.

[2021-05-25 01:45] fernando-jose-silva commented on #272
thank you very much, spectacular!

Enviado do meu iPhone

[2021-05-27 20:57] #301 closed

[2021-05-31 00:29] TheNintendofan1209 opened #307 "Download Link"
The link: https://dl.bintray.com/ no longer works. I can't get any voices.

[2021-05-31 20:52] alex19EP commented on #307
hello. where do you see such links?

[2021-05-31 21:00] TheNintendofan1209 commented on #307
When I was downloading the voices many days ago.

[2021-05-31 21:05] #307 closed

[2021-05-31 21:05] alex19EP commented on #307
please look now in doc / en / Binaries.md the links have been updated.

[2021-06-08 21:44] king-dahmanus opened #310 "please improve the voices"
hey there. Please improve rhvoice by fixing the following:
1, please widen the inflection edges of voices like clb and slt.
2, please improve the brighteness and quality of the alan voice.
3, please improve the brightness of the clb voice.
4, please make the engine support question marcs propperly. Thanks and regards

[2021-06-09 14:14] Myrkalf opened #311 "SCons не компилирует модуль для Speech-Dispatcher (RaspberryPi4)"
RaspberryPi4, Raspbian,
установлены GCC 8.3.0,  pkg-config 0.29, SCons 3.0.1.7, pulseaudio 12.2, speech-dispatcher 0.9.0
git clone был запущен с флагом --recurse-submodules

при компиляции SCons не проверил Speech-dispatcher и не создал sd_rhvoice, в папке /usr/local/bin лежит только RHVoice-test.
соответственно, симлинк из мануала не на что делать.

начало вывода SCons:

pi@rpi4-01:~/RHVoice $ sc

[2021-06-09 15:59] alex19EP commented on #311
это значит, что pulceaudio не найден. возможно нужно поставить что-то вроди libpulse-dev

[2021-06-09 16:03] zstanecic commented on #311
@alex19EP
Да, либо libpulse-dev, либо libpulsesimple-dev точное название пакета не помню,
может быть,
@beqabeqa473
знает больше?

[2021-06-09 16:11] zstanecic commented on #284
@alex19EP
I cannot reproduce this issue, even with talkback, and or with jieshuo screenreader. Note that i've checked this with latest version for Android, on android 11, RHVoice 1.2.3/1.2/4.

[2021-06-09 16:20] alex19EP commented on #284
thank you for info @zstanecic.

can @SergTSA  add something?

[2021-06-10 08:14] Myrkalf commented on #311
такого пакета (libpulse-simple) нет в системном репозитории.
libpulse-dev не был установлен - исправлено.
при запуске scons-скрипта (после установки libpulse) в его выводе ничего не изменилось.

вопрос изначально был в том, что **scons пропускает проверку наличия speech-dispatcher и не компилирует модуль sd-rhvoice**. зависит ли это от наличия/отсутствия libpulse-simple?

самое забавное, что месяц

[2021-06-10 08:45] beqabeqa473 commented on #311
он пропускает sd, потомучто видит что не установлены аудио зависимости.

On 6/10/21, Myrkalf ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: https://instagram.com/beqa.gozalishv

[2021-06-10 12:23] Myrkalf commented on #311
так а какой пакет ему нужен? libpulse-dev установлен.
в установке Libao или PortAudio смысла не вижу - PulseAudio стоит и работает в системе по умолчанию.

скрипт scons при повторном запуске не надо каким-либо образом предварительно переинициализировать? или он каждый раз "как в первый раз" запускается и проверяет зависимости?

[2021-06-10 12:40] zstanecic opened #312 "update CLDR to the latest version"
Hi to all,
This is specially interesting for
@alex19EP
and
@Olga-Yakovleva
I have prepared the pull request whic updates the submodule of the unicode CLDR data to the latest version.
In that way, RHvoice emoji support will be the same as we have it directly included in NVDA.
From this change, mostly benefits all android devices running RHVoice and also the linux platform.
What do you think?
Best,

[2021-06-10 12:51] beqabeqa473 commented on #311
попробуйте очистить working directory и заново запустите scons

On 6/10/21, Myrkalf ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: https://instagram.com/beqa.gozalishvili

[2021-06-10 14:03] alex19EP commented on #311
вот это должно помочь. давайте правда попробуем очистить дерево исходников `git clean -xdf`
и повторим компиляцию.

угу. для компиляции модуля sd на данный момент нужна какая либо звуковая библиотека.

я думаю путём проб и ошибок мы сможем сделать это.

[2021-06-10 14:06] alex19EP commented on #312
this is good, but it is not enough just to update cldr, you also need to create new versions of language packs, and change one cpp file.

in fact I would wait until a new version of unicode is released.

[2021-06-10 14:29] zstanecic commented on #312
It’s not a problem as I will do it.

Beqa just told me how to do it.

Waiting for the new Unicode is not an option, as these data are dynamically updated.

From: Alexander Epaneshnikov ***@***.***>
Sent: Thursday, June 10, 2021 4:07 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Zvonimir Stanečić ***@***.***>; Author ***@***.***>
Subject: Re: [RHVoice/RHVoice] update CLDR to the latest version (#312)

th

[2021-06-10 15:58] Myrkalf commented on #311
окей,
git clean -xdf     <-done

установленные в системе пакеты (флаги: i - установлено, A - автоматически):

i   gcc							- GNU C compiler
i   gcc-4.9-base					- GCC, the GNU Compiler Collection (base package)
i   gcc-5-base						- GCC, the GNU Compiler Collection (base package)
i   gcc-6-base						- GCC, the GNU Compiler Collection (base package)
i   gcc-7-base						- GCC, the GNU Compiler Coll

[2021-06-10 16:30] alex19EP commented on #311
какие варианты?

думаю поставить libspeechd-dev.
p.s. вот за это я не люблю дебиан.
p.ss. спойлеры можно делать на html
[code]

[2021-06-10 18:37] beqabeqa473 commented on #311
нужно поставить development library speechd
libspeechd-dev
иначе он не сможет найти заголовок и проверить версию.

On 6/10/21, Alexander Epaneshnikov ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/be

[2021-06-10 20:53] Myrkalf commented on #311
о!
доустановка libspeechd-dev помогла!
после перезапуска scons-скрипта он наконец-таки увидел Speech-dispatcher и скомпилировал модуль для работы с ним.
работоспособность проверена, движок работает.
<details>
  <summary>итак, для установки на Raspberry Pi 4 (Raspbian) нужны:</summary>
  - обязательные:<br>
  gcc<br>
  libgcc-[номер_версии]-dev<br>
  pkg-config<br>
  scons<br>
  - вариативный для у

[2021-06-10 20:55] #311 closed

[2021-06-11 21:11] zstanecic commented on #312
Hi Alexandr,
As i have tested myself that all changes made, not just downloading, but compiling emoji data works, can i proceed with the update and make the pr?

[2021-06-11 21:40] alex19EP commented on #312
sure.

[2021-06-12 00:34] zstanecic commented on #312
Ok. I will do it as soon as possible.
Thanks,
Zvonimir

[2021-06-12 15:32] #312 closed

[2021-06-19 11:28] maniyax opened #315 "RHVoice Wiki"
Hi all!

RHVoice Wiki hasn't been updated for a long time. Perhaps we should give it up altogether?

We have "doc" directory. Isn't it enough?

[2021-06-21 01:15] alex19EP commented on #315
I cleaned the wiki.

[2021-06-21 01:15] #315 closed

[2021-06-21 08:09] zenny opened #319 "How to make it work with external apps?"
Hi,

Compiled RHvoice in voidlinux manually (reproduced for future references) as follows.

[code]

However, there are two issues:

1. The TTS voice has speckles. How to avoid them? Fyi, here are no speckles when used `mimic`. Even the voices in  https://rhvoice.su/voices/ plays without a problem in browser.
2. Is there a way to make it work with external applications like okular, foliate or firef

[2021-06-21 08:20] #319 closed

[2021-06-21 21:14] KOLANICH commented on #266
But we usually can expect recent enough versions of libs to be packaged in alive distros with not big differences from the bleeding edge versions API.

are header-only libraries. So, while it would be definitely useful to allow building using rapidxml installed from the distro, using it won't save memory, though may make packaging easier.

The real benefit of using libraries from packages is when

[2021-06-21 22:21] alex19EP commented on #266
this is a main point.

I agree. also using system MAGE would be nice.

[2021-06-21 22:50] KOLANICH commented on #266
Unfortunately
* MAGE is not packaged in Debian;
* RHVoice uses [customized MAGE depending on its libs](https://github.com/RHVoice/RHVoice/blob/a400ec2d42f9d9920ea113094066889fa45a845b/src/third-party/mage/Label.h#L158) (and so is hts_engine)

[2021-06-23 10:51] PatrykMis commented on #271
@alex19EP I think it should be rated high, not medium and as very important enhancement. Currently, there is no open source TTS which has this feature.
For example, as a blind human beeing, currently I'm using Lineage with MicroG+Talkback built from source and I can't (and don't want to) use Google Text-To-Speech mainly because is closed proprietary software. So my biggest issue is when I boot my

[2021-06-25 06:36] i3p4 opened #332 "Fail to build: file not found."
Hi! My error.
Configuring  /usr/src/RHVoice/src/include/core/config.h.in into /usr/src/RHVoice/src/include/core/config.h ...
FileNotFoundError: [Errno 2] No such file or directory: '/usr/src/RHVoice/data/voices/aleksandr-hq/voice.info':
The folder is empty.
My system debian 11.
[error.txt](https://github.com/RHVoice/RHVoice/files/6714040/error.txt)
Full stack in file.

[2021-06-25 06:51] zstanecic commented on #332
hi @i3p4,
Please initialize the submodules, or reclone the repository recursively
use the:
git clone --recursive >repositoryaddress<
or, if you don't want to reclone the all repo, use
git submodule init
git submodule update

[2021-06-25 13:07] i3p4 commented on #332
Hi @zstanecic, thank you.
Helped me:
git submodule update --init --recursive
Now there is another problem:
scons: Building targets ...
Install file: "build/linux/lib/libRHVoice.so.5.1.0" as "/usr/lib/libRHVoice.so.5.1.0"
scons: *** [/usr/lib/libRHVoice.so.5.1.0] No such file or directory

This file is in the folder:
build/linux/lib/
My actions:
scons prefix=/usr (ok)
checkinstall scons prefix=/usr

[2021-06-25 15:13] alex19EP commented on #332
did you run scons install as root?

[2021-06-25 16:07] i3p4 commented on #332
Hi @alex19EP.
Yes, I run scons as root.

[2021-06-25 19:04] alex19EP commented on #332
try to install it in /usr/local

[2021-06-25 21:46] i3p4 commented on #332
@alex19EP
Install file: "build/linux/lib/libRHVoice.so.5.1.0" as "/usr/local/lib/libRHVoice.so.5.1.0"
scons: *** [/usr/local/lib/libRHVoice.so.5.1.0] No such file or directory
My actions:
scons --clean install
scons prefix=/usr/local (ok)
checkinstall scons prefix=/usr/local install (fail)

[2021-06-25 21:56] alex19EP commented on #332
what is it? is it command? if yes why it is needed?

[2021-06-25 21:58] alex19EP commented on #332
ok i looked what checkinstall is...
can you try scons install without it?

[2021-06-25 22:07] i3p4 commented on #332
@alex19EP
It is a bad idea.
The package manager will not know anything about these files, and for example, if I later want to install a new version, I can get a lot of problems.
Some old files may remain due to which the new version will not work.

[2021-06-25 22:26] alex19EP commented on #332
that's why i suggest you install RHVoice in / usr / local

[2021-06-26 11:54] outsidepro-arts opened #333 "Silencing in some symbol combinations"
I've just tested the latest action build which uses new speed control and accured with situations when RHVoice either silences in strings when something symbols combination exists, or the reading suddenly interrupts. Unfortunately, i have no a combinations which RHVoice silences, but I have combination which the synthesizer interrupts while reading:
 07q
Ььььь
Получено в 09:49

[2021-06-26 12:12] zstanecic commented on #333
I can reproduce the problem with soft sign symbols only.

[2021-06-26 12:50] outsidepro-arts commented on #333
Agree also with hard sign symbols. I suspect that the interrupting bug appears when a string contains two or more symbols which the engine should process, but does not soundable representation.

[2021-06-26 13:08] outsidepro-arts commented on #333
Just one more thing: when these symbols presented as word. For example:
This ьь string
This ъъ string - these examples will be interrupted. Thiьs string
Thiъs string
- these examples will be read.

[2021-06-26 20:05] alex19EP commented on #333
are you sure it started after the 2880abe16ada461b8bda76f822d7a2faa9766c49 commit?

can someone do a [git bisect](https://git-scm.com/docs/git-bisect)?

[2021-06-27 10:36] outsidepro-arts commented on #333
I've used the latest releases both on PC and on Android. I'd not saw this behavior there. I've used the debug builds while working in a collaboration with RHVoice Lab, so i may suppose that I didn't tested all commits list. But now I'm testing the new speed control and found this.

[2021-06-27 16:01] alex19EP commented on #333
unfortunately I cannot reproduce the problem. RHVoice does not read 5 soft characters in a row, but RHVoice reads the entire string "fooьььььbar".

[2021-06-27 23:19] i3p4 commented on #332
@alex19EP
Without checkinstall, rhvoice is installed.
Is it possible to fix the scons install script to work with checkinstall?
And a few more questions.
Why can't scons see speech-dispatcher?
"Checking Speech Dispatcher version ... (cached) no"
And will this affect how rhvoice works with speech-dispatcher?
Where can I find the rhvoice configuration file for speech-dispatcher?
Thanks for the help.

[2021-06-28 00:12] alex19EP commented on #332
I'm not sure. I am not using debian. so fix will not arrive fast sorry.

please install libspeechd-dev

yes. sd module wouldn't be built.

https://github.com/RHVoice/RHVoice/blob/master/doc/en/Configuration-file.md

[2021-06-28 00:36] i3p4 commented on #332
@alex19EP
I not install libspeechd-dev.
But sd_rhvoice module in folder /usr/local/bin/.

 This config is for RHVoice and not for speech-dispatcher.

[2021-06-28 00:40] alex19EP commented on #332
it is used by sd module too.

you need to install this so scons can find speatch despatcher when compiling.

you need to make simlink to dir where sd modules is located.

[2021-06-28 00:58] i3p4 commented on #332
@alex19EP
Do you speak russian?
If yes, then.
Я не устанавливал библиотеку libspeechd-dev, сейчас специально проверил.
Вот только сейчас поставил её и начал пересоберать.
Как я понимаю без неё не должен был собраться модуль sd_rhvoice.
А он собрался и лежит в папке /usr/local/bin/.
И сам speech-dispatcher работает с этим модулем, проверял.
Вот отсюда и вопрос.
Как так?

[2021-06-28 01:05] alex19EP commented on #332
угу.

возможно он уже и собирается, хотя это странно, но за его работоспособность я тогда-бы не ручался.
у нас есть некоторые динамические вещи, которые зависят от версии sd.

я постораюсь посмотреть, что-там и как в ближайшее время.

[2021-06-28 01:23] i3p4 commented on #332
Сейчас пересобрал с предварительной очисткой, т.е.:
scons --clean install
scons prefix=/usr/local
scons prefix=/usr/local install
И всёравно.
Checking Speech Dispatcher version ... (cached) no
Возможно scons где-то кеширует конфигурацию?
Т.к. (cached)...
Можно ли как-то очистить полностью не удаляя репо, а то он долго грузится?

[2021-06-28 01:32] alex19EP commented on #332
не думаю cashed это ошибка в наших скриптах.

`git clean -xdf`

[2021-06-28 02:15] i3p4 commented on #332
В общем я не смог понять как проверяется версия speech-dispatcher.
Если из переменных окружения по имени spd_version, то у меня нет такой в окружении.
(название переменной взял из файла scons.)
Speech-dispatcher работает нормально.
И подправьте пожалуйста документацию.
Вот например про ту же библиотеку libspeechd-dev вобще ничего не сказано.
Про файл конфигурации для speech-dispatcher тоже.
Хотя в

[2021-06-28 08:00] starbrights opened #334 "please add German language"
As far as I know this is only free Android TTS system not depending on Google Play Services. Please add German as language. Thank you

[2021-06-28 14:30] alex19EP commented on #334
I think [espeak-ng](https://github.com/espeak-ng/espeak-ng)
can be installed without google play too.

unfortunately we are not ready to accept requests to add new languages. sorry.

[2021-06-28 14:30] #334 closed

[2021-06-29 17:45] alex19EP commented on #266
@Olga-Yakovleva thinks it's best to leave hts and mage as the vendor dependency.

@KOLANICH can you describe dependences status in cmake?

can we build with system rapidxml, tclap, unicode?

[2021-06-29 19:23] KOLANICH commented on #266
In principle, yes.

[2021-07-04 09:04] starbrights commented on #334
Thanks for the hint.
I tested some. The best I could find was tflite. While it is availabe in FDroid, it contains an German/Austrian only in Google PlayStore - just as a hint to others looking for that. If someone find any better - please let me know.

[2021-07-04 13:49] Olga-Yakovleva commented on #333
The problem with the soft and hard signs should be solved by #338. Other possible problems have been mentioned here as well, but there is not enough information about them.

[2021-07-05 16:41] #310 closed

[2021-07-05 16:44] #333 closed

[2021-07-05 16:47] #262 closed

[2021-07-06 15:19] IzzySoft commented on #334
@starbrights see #24 – and yeah, eSpeak is not really useable for German, though the F-Droid version can be set to German (but that sounds quite horrible; rarely bearable with variant NVDA (Jacky), speed 152WPM). I didn't try TFLite, though. To my knowledge, those 3 are all that can be found in the FOSS world ([see here](https://android.izzysoft.de/applists/category/named/office_speech) for my lis

[2021-07-08 14:23] kirkmarkarian commented on #260
Please may we have a version for OS X?

[2021-07-09 12:03] ndv27 commented on #281
I also could't  managed even to start compilation on RaspberryPi 4B 32 bit Raspbian.
All packages are latest, also as project's code.
Tried something, but SCons do not see the file 'speech-dispatcher.pc' despite this prerequisites:
[code]
Here is the output:
[code]

Tried to reinstall speech-dispatcher:

[code]

Is it possible for some software interferences?

[2021-07-09 13:57] alex19EP commented on #281
@ndv27 pleas install libspeechd-dev

[2021-07-09 18:40] king-dahmanus commented on #310
I believe statistical parametric speech synthesis can be even better, look at google TTS. I mean, what do you mean by confused emogie?

[2021-07-10 08:35] ndv27 commented on #281
Thanks a lot! It's works!

[2021-07-13 10:52] ilyapashuk opened #355 "add an option to parse config file to RHVoice-test"
Now it theams that RHVoice-test fully ignores RHVoice config file.
I know that it is only testing tool, but please add an option to make it to parse the config file too.

for screenreader user the config after it's change may be good target for testing before restarting speech system.

[2021-07-14 16:28] KOLANICH opened #368 "RHVoice uses 2 different versions of HTS Engine."
And each one is customized.

1.10 is used for RHVoice-core, and 1.06 is a dependency of libmage.

It'd be nice to get rid of 1.06.

Since libmage is dead (in the official repo last change is dated to 2014), I guess we should either patch libmage to work with the latest version of HTS engine or just get rid of it completely.

What benefits does libmage bring?

[2021-07-14 16:33] KOLANICH opened #369 "HTS engine needs some refactoring"
Basically we need to add a struct of callbacks (as a C analogue of vtable), modify libmage to call them from it and make RHVoice provide that struct populated, instead of relying to linking mechanism, which would work nicely only in the case of static linking.

[2021-07-14 16:38] alex19EP commented on #368
mainly speed. @Olga-Yakovleva can tell more.

[2021-07-14 16:48] alex19EP commented on #369
I have long wanted to ask why you insist on dynamic linking. I understand when it is used with libraries that are already available in the system, but it’s about libmage and hts, they have been modified by us and therefore will not be distributed apart from RHVoice, and also used by anyone other than us.

[2021-07-14 17:17] KOLANICH commented on #369
I want eventually eradicate all the RHVoice-specific code from hts_engine and libmage source code (it would require some refactoring, and refactoring would require some coordination to upstreams, the mere fact that Olga had to patch them instead of configuring means that their design is flawed) and upstream the one that is not RHVoice-specific. Then use vanilla (under vanilla here I mean the most

[2021-07-14 17:30] alex19EP commented on #369
OK. now I understand, but I'm not sure if it is possible to use vanilla libraries at all ...

[2021-07-14 17:51] Olga-Yakovleva commented on #369
The original HTS Engine doesn't support mixed excitation. That is, what they implement is a static maximum voiced frequency. Adding support for multiband mixed excitation required modifying the excitation generation code in the vocoder. This kind of modification is done by many users of the HTS and related code, which are mostly other speech researchers. Plugging in their own implementations and a

[2021-07-14 18:36] alex19EP commented on #369
@KOLANICH  taking into account the above, I think it's best not to try to dynamically compile hts and mage.

[2021-07-15 18:16] KOLANICH opened #375 "Get rid of own reimplementations of modern C++ standard lib"
* [ ] [`path`](https://github.com/RHVoice/RHVoice/blob/master/src/core/path.cpp) → `std::filesystem::path`
* [ ] [`RHVoice::utf::`](https://github.com/RHVoice/RHVoice/blob/2807d084cada2826a508cbd4874064541e37aa76/src/include/core/utf.hpp) → `std::codecvt_utf8`
* [ ] [`RHVoice::threading::`](https://github.com/RHVoice/RHVoice/blob/master/src/include/core/threading.hpp) → `std::thread`, `std::mutex`

[2021-07-15 18:19] alex19EP commented on #375
can you also add in which min version of standard this things is available?

[2021-07-15 18:27] KOLANICH commented on #375
I guess there may be shims for earlier versions. I.e. I was using `std::span` long before it has appeared in CLang, because someone has crafted `nostd::span`, that can be used as a submodule if it is not available natively.

[2021-07-17 12:01] Seruios opened #376 "I need RHVoice 1.2.3 version, or help with Linux"
Hello, I need RHVoice version 1.2.3 or older, because rhvoice-wrapper doesn't support 1.4.1 version, or do you know if there is another rhvoice python module for linux ubuntu 21? Because pyttsx3 can't work with rhvoice in Linux. Can you help pls? Thanks.

[2021-07-17 12:06] Seruios commented on #376
And speechd gives me error. You can check it there - https://stackoverflow.com/questions/68335191/speech-dispatcher-python3-speechd-ssipclient-error

[2021-07-17 14:23] tbart commented on #145
I'd like to contribute a German voice (I am a trained narrator). Is there any progress on this front? I am also willing to read up on "the hard way", so if there are any pointers as to where I can start, that'd be very much appreciated.
With picoTTS gone on Google-free Android ROMs, RHVoice seems to be the only FOSS alternative right now.
This would give you a little more time to restructure the v

[2021-07-17 23:31] #376 closed

[2021-07-20 13:42] NVCDevelopmentTeam opened #378 "Add Vietnamese language support for Vietnamese visually impaired users"
Hi, I'm using NVDA and I'm blind. I am very disappointed that there is not a built-in tts tool that supports Vietnamese language, which is my native language. Can you help me develop this language because it is lacking and the blind people in Vietnam are in need. I am very happy for your help.

[2021-07-23 06:26] alpineQ commented on #281
Thanks for the solution, I also had this problem. Maybe worth mentioning in the install guide due to RHVoice can't be installed on raspberry via apt

[2021-07-25 02:23] ChickenKiddie opened #381 "scons OSError on Arch Linux"
`[~/build/RHVoice]$ scons scons: Reading SConscript files ...
Mkdir("build/linux")
Georgian language is skipped because of non-free license
OSError: 'pkg-config speech-dispatcher --variable=modulebindir' exited 1:
  File "/home/ck/build/RHVoice/SConstruct", line 373:
    vars=create_user_vars()
  File "/home/ck/build/RHVoice/SConstruct", line 169:
    vars.Add(PathVariable("spd_module_dir", "Speec

[2021-07-25 03:29] alex19EP commented on #381
Did you used pkgbuild from AUR?

[2021-07-25 04:44] ChickenKiddie commented on #381
I didn't use pkgbuild, here I thought I already installed rhvoice with yay while I actually did not previously notice that the install was not finalized and that there was an error, so I did sudo rm -rf /usr/lib/speech-dispatcher.service and later /usr/lib/speech-dispatcher-modules/rhvoice which solved the problem.

[2021-07-25 04:44] #381 closed

[2021-07-26 14:49] Mazhit76 opened #382 "Not install RHVoice"
(env) mazhit@DESCTOP-IMG:~/Desctop/RHVoice$ scons
scons: Reading SConscript files ...
Mkdir("build/linux")
Georgian language is skipped because of non-free license
Package speech-dispatcher was not found in the pkg-config search path.
Perhaps you should add the directory containing `speech-dispatcher.pc'
to the PKG_CONFIG_PATH environment variable
No package 'speech-dispatcher' found
OSError: 'pkg

[2021-07-29 14:35] alex19EP commented on #382
you need to install libspeechd-dev if you on debian or ubuntu

[2021-08-02 08:33] Mazhit76 commented on #382
Ubuntu. Добрый день. Благодарю за ответ. Вопрос решил.

[2021-08-02 08:33] #382 closed

[2021-08-04 09:20] zstanecic commented on #284
Hi! Is there any progress on this issue? If not, is it secure to be closed, because of the lost of contact with the author?

[2021-08-04 09:23] zstanecic commented on #261
How is going with this issue? Phonetic punctuation is one of the addon, in which we have use of this...

[2021-08-05 17:42] #284 closed

[2021-08-06 09:13] vasoge opened #383 "georgian voice download issue android"
georgian voice can't download on android.
this issue  appear money times again and again.
please add direct download link.

[2021-08-06 12:35] alex19EP commented on #383
FYI @beqabeqa473

[2021-08-07 14:20] DimkaInc commented on #60
Hello! I have same problem. Linux based Debian buster. All speach-dispatcer installed.

Linux orangepi3 5.4.65-sunxi64 #2.1.0 SMP Tue Dec 8 16:58:33 CST 2020 aarch64 GNU/Linux

$ **dpkg -l speech-dispatcher**
[code]

$ **scons**
[code]

File speech-dispatcher.pc are not found

**$ find / -name speech-dispatcher.***
[code]

How to repare it?

[2021-08-07 16:46] alex19EP commented on #60
You need libspeech-dev

[2021-08-09 13:24] Tippman opened #384 "Unsupported library version"
Hello!

When I'm trying to create mp3 - catch an error:

[2021-08-09 16:30] mike2003 opened #385 "Слишком длинные паузы на запятой."
При прослушивании текста на лету, создается стойкое ощущение, что паузы на запятой слишком длинные, даже длиннее точек. Возникает дискомфорт из за таких спотыканий внутри предложения. Использую Балаболку для чтения.
Как это можно корректировать? Поменять их между собой? Не знаю куда копать.
В настройках Балаболки есть паузы для точек и абзацев, но они не влияют.

[2021-08-09 16:41] mike2003 commented on #385
Вот пример
![zDudi1U](https://user-images.githubusercontent.com/11754198/128742293-d69c5c1c-d311-485a-9dda-0b65f858e163.jpg)

[2021-08-10 11:49] alex19EP commented on #385
вы используете RHVoice как sapi модуль?
можете повторить проблему не только с балаболкой?

пока мне кажется, что проблема с ней.

[2021-08-10 11:51] alex19EP commented on #384
can you provide mor info?

* what platform are you using
* how you creating mp3 file

[2021-08-10 21:11] mike2003 commented on #385
Да, sapi 5 для чтения текста на лету хочу. С чем еще можно проверить кроме балаболки? Я немного не в теме )

[2021-08-13 01:38] mike2003 commented on #385
Никакой помощи не будет?

[2021-08-13 13:34] alex19EP commented on #385
я к сожалению тоже не очень то и в теме. возможно есть какие-то другие читалки под windows.
или если вы используете скринридер, то возможно можете прочитать тотже текст им, а затем понять действительно ли проблема в RHVoice.
как я уже говорил - на данный момент я очень сомневаюсь в этом.

[2021-08-13 23:46] mike2003 commented on #385
Проверил в другой программе TextAloud 4 - то же самое. Странно, что такой старый движок не умеет со знаками препинания работать. Как же такое пропустили?

[2021-08-20 05:32] igoryonya commented on #161
I've installed a ppa version of rhvoice.
I have a:
$ speech-dispatcher --version
speech-dispatcher 0.9.1
$ inxi -S
System:    Host: ws02800008006 Kernel: 5.10.0-1044-oem x86_64 bits: 64 Desktop: Awesome 4.3
           Distro: Ubuntu 20.04.3 LTS (Focal Fossa)
but running:
$ spd-say -o rhvoice -L
and get an error:
Failed to get voice list.
[etc_speech-dispatcher.zip](https://github.com/RHVoice/RHVoi

[2021-08-20 14:50] alex19EP commented on #161
@igoryonya it seems to me that the package in ppa should be updated. can you try to build from source?

[2021-08-23 10:54] alekssamos opened #391 "Английские голоса съедают аббривиатуры с буквой E на конце"
1. Включить английский голос, например, SLT;
2. Прочитать различные аббривиатуры или названия, которые оканчиваются на букву E:
ZTE, LTE, KDE, XFCE,
ещё наверно можно отнести название фирмы Huawei, оно тоже съедается.

Можно ли внести изменения в английский модуль, чтобы такие случаи читались нормально, по буквам? Каждое слово добавлять в словарь не вариант, да и те же KDE, если встречаются в како

[2021-08-24 08:03] igoryonya commented on #161
1. I've cloned the repository.
2. installed scons
3. Ran scons inside of repo directory and got the following error:

<pre>
$ scons
scons: Reading SConscript files ...
Mkdir("build/linux")
Georgian language is skipped because of non-free license
Package speech-dispatcher was not found in the pkg-config search path.
Perhaps you should add the directory containing `speech-dispatcher.pc'
to the PKG_C

[2021-08-24 10:29] KOLANICH commented on #161
Use MSYS2, it has pkg-config.

[2021-08-24 10:31] KOLANICH commented on #161
`sudo apt install libspeechd-devel`

[2021-08-24 11:05] igoryonya commented on #161
Now it gives me this:

<pre>
$ scons
scons: Reading SConscript files ...
Mkdir("build/linux")
Georgian language is skipped because of non-free license
Checking whether the C compiler works... yes
Checking whether the C++ compiler works... yes
Checking for pkg-config... yes
Checking for libpulse-simple... no
Checking for ao... no
Checking for portaudio-2.0... no
Configuring  /tmp/RHVoice/src/core/c

[2021-08-24 11:26] alex19EP commented on #161
you need to git clone --recursive
or execute: `git submodule update --init`

[2021-08-24 12:11] igoryonya commented on #161
$ scons
scons: Reading SConscript files ...
Mkdir("build/linux")
Georgian language is skipped because of non-free license
Checking whether the C compiler works... (cached) yes
Checking whether the C++ compiler works... (cached) yes
Checking for pkg-config... (cached) yes
Checking for libpulse-simple... (cached) no
Checking for ao... (cached) no
Checking for portaudio-2.0... (cached) no
Configuring

[2021-08-24 13:49] alex19EP commented on #161
git clean -xdf

[2021-08-24 21:35] igoryonya commented on #161
Same thing.
It compiled first, then the error as above.
Trying to do scons once again, just does, as above wthout the compilation

[txt.compilation.zip](https://github.com/RHVoice/RHVoice/files/7042226/txt.compilation.zip)
Here is a compilation logs

[2021-09-05 18:39] PatrykMis commented on #271
https://www.bountysource.com/issues/97074123-add-direct-boot-support-for-android-so-rhvoice-can-be-used-with-talkback-before-the-initial-unlock

[2021-09-08 18:37] maniyax commented on #383
I think that this issue should be closed. @beqabeqa473 fixed it.

[2021-09-08 20:39] alex19EP commented on #383
I would like to transfer voices to our infrastructure. so for now we probably don't need to close this ticket.

[2021-09-08 23:53] jpenguin commented on #189
I don't know if spd-say can do that
`echo "The quick brown fox jumps over the lazy dog" | RHVoice-test -o test.wav`

[2021-09-09 00:06] jpenguin opened #393 "Add fedora & OpenSuse to Packaging-status"
Fedora

- https://copr.fedorainfracloud.org/coprs/xoloitzcuintle/RHVoice/

OpenSUSE

- https://software.opensuse.org/package/RHVoice
- https://software.opensuse.org/package/RHVoice-speech-dispatcher

I'm using it on on tumbleweed now, works great!  Just need to

-  Edit /etc/speech-dispatcher/speechd.conf:
    Uncomment: AddModule "rhvoice" "sd_rhvoice" "rhvoice.conf"
    Add: DefaultModule rhvoic

[2021-09-11 22:35] bomzhellino commented on #283
Ситуация такая: приложения с target api 30+ не могут использовать ваш движок на Андроид 11, хотя на Андроид 10 — могут. Приложения с target api <30 нормально читают и на Андроид 11.
Проверить можно на Librera Reader:
https://github.com/foobnix/LibreraReader/releases

[2021-09-30 12:29] zstanecic opened #401 "artifacts are not created in Ci and code ql of the project doesn't work"
Title says it all. Compilation of test versions of the synthesizer is not working when triggered by push. It says, that error is on line 42 of the codeql analysis file.

[2021-09-30 16:39] zstanecic commented on #401
cc
@alex19EP

[2021-10-01 09:16] alex19EP commented on #401
FYI no need to mention me I receive all activity in this repo and organization.

[2021-10-01 09:17] zstanecic commented on #401
Ok

From: Alexander Epaneshnikov ***@***.***>
Sent: Friday, October 1, 2021 12:17 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Zvonimir Stanečić ***@***.***>; Author ***@***.***>
Subject: Re: [RHVoice/RHVoice] artifacts are not created in Ci and code ql of the project doesn't work (#401)

cc @alex19EP <https://github.com/alex19EP>

FYI no need to mention me I receive all activity in this repo and organ

[2021-10-01 09:18] #401 closed

[2021-10-04 22:29] Symbian9 opened #406 "Marianna voice for Android"
Add Marianna voice for Android (APK)

- https://github.com/RHVoice/RHVoice/commit/b38f5891ec8a885cfc1493281a7d061a26680cce
  - https://github.com/RHVoice/RHVoice/blob/master/doc/ua/Binaries.md#%D1%83%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B0-2
  - https://github.com/RHVoice/RHVoice/blob/master/doc/en/Binaries.md#ukrainian-2

[2021-10-05 08:15] alex19EP commented on #406
for this we need to release a new version.

[2021-10-05 08:15] #406 closed

[2021-10-05 13:50] Symbian9 commented on #406
If so, how manually install voice on Android from `data.zip`?

- https://github.com/RHVoice/marianna-ukr/releases/tag/4.0

[2021-10-05 14:10] alex19EP commented on #406
you can't do that, but you can download prebuilt app from: https://github.com/RHVoice/RHVoice/suites/3959426466/artifacts/99450360

[2021-10-10 16:47] nevilad opened #408 "RHVoice Slt does not support "voice required" xml tag"
Environment: Windows 10 x32, Balabolka, RHVoice Slt and RHVoice Arina installed.

Select RHVoice Slt in balabolka, enter `english text <voice required="Name=RHVoice Arina">русский</voice> text.`, enter "Read Aloud" command.

Expected result: text is read with voice changes.
Actual result: error 0x80045043. Without this tag text is read correctly.

[2021-10-12 06:00] AlexBlack772 opened #409 "Игнорирование тега <break> в ssml"
Добрый день,

Судя по коду (я не владею правда c++) в rhvoice есть поддержка тега вида break strength="medium" для добавления паузы в тексте. но почему-то при использовании RHvoice-test я никак не могу добиться дополнительной паузы

[code]

Подскажите, программа поддерживает тег break

[2021-10-16 00:10] joshknnd1982 commented on #95
can I use windows10 to record sentences for a script for a new english voice, and then compile it into a sapi5 voice? Or is linux required at this time?

[2021-10-16 05:56] KOLANICH commented on #95
I have briefly read the scripts within https://github.com/RHVoice/RHVoice/tree/master/src/scripts/general , nothing within them seems to be unusable on windows

[2021-10-16 05:57] KOLANICH opened #410 "Convert all the python scripts into python 3, drop python 2"

[2021-10-16 07:55] abitrolly commented on #95
Technically speaking, the PRAAT and Python are cross-platform, so it is a little effort to make them run on Windows. The problem is that we don't know which scripts to run to process recorded sentences.

So the answer is, yes, you can use any windows10 software to record sentences. They could be converted to any other format no problem, but we don't know which format is needed, and then how to com

[2021-10-26 17:09] #408 closed, assigned to Olga-Yakovleva

[2021-10-29 19:17] nevilad opened #411 "PRON tag ignored"
Environment: Windows 10 x32, Balabolka, RHVoice Slt installed.

Select RHVoice Slt in balabolka, enter `<pron sym="h eh l ow"/>`, enter "Read Aloud" command.

Expected result: text is read.
Actual result: silence and no errors.

If this issue is of low priority, please point me to the parts of code responsible for this.

[2021-10-29 20:36] alex19EP commented on #411
let's ask @Olga-Yakovleva

[2021-11-04 17:30] sevapopov2 commented on #258
Hello,
Thank you for telling how to fix this issue. I have just ran into it, too.
@alex19EP Could you please update the documentation when you have such an opportunity so it could be possible to prevent running into this issue in the future?
Also, will be the mention about "libspeechd-dev" added?
I also find this issue while building and it would be really helpful if you could add the mention of t

[2021-11-07 16:07] grzezlo commented on #95
I'd like to add Polish language to RHVoice, so obvious step is starting from adding new voice for language already existing.
After some precious hints from @beqabeqa473 and spending countless hours on experiments, I managed to compile needed tools under Linux, build a voice on original HTS Demo CMU arctic SLT, and nearly successfully generate voice for RHVoice.

I wrote a detailed tutorial documen

[2021-11-07 16:31] abitrolly commented on #95
@grzezlo I need more time to read it fully, but I already can tell that this one is a very awesome article. Will be a very interesting reading. Thanks!

[2021-11-07 16:45] KOLANICH commented on #95
@grzezlo, thank you for your lot of work!

@beqabeqa473, thank you too, I was positively surprised :+1: and I should admit that it turned out I was **not** completely right in my earlier opinion

[2021-11-08 01:24] grzezlo commented on #95
Main problem solved. It was written, but ignored by me earlier.
hts22_bindir in training.cfg should contain path to binaries from HTS 2.2, not 2.3. HHed from this path is used onlyonce in voice-building-scripts, in the export-voice step.
After this change rhvoice-test worked, and after copying by hand rhvoice/data/myvoice/* to `nvda\addons\RHVoice-voice-English-Myvoice\data` I can hear "my voice"

[2021-11-08 16:15] grzezlo commented on #95
I just pushed     v0.2 of the tutorial:
    HTS2.2 and 2.3 parallell installation, proper configuration, and successful voice build.
    Some questions still open (see introduction).

[Read more...](https://github.com/grzezlo/RHVoice/blob/gz-new-voice-tutorial/doc/en/Creating-new-voice.md)

[2021-11-09 17:18] Olga-Yakovleva commented on #411
Handling user-provided sequences of phonemes isn't supported by RHVoice at all. Implementing it would require deciding how to build the whole phrase -> word -> stressed/unstressed syllable -> native phoneme structure from such a representation. It would probably take changes in multiple places to build those structures and probably fix the existing code which may be making assumptions which will n

[2021-11-14 20:03] ccptr commented on #283
I'm able to open `/Android/data/*` on GrapheneOS 11 & 12 (Android 11 & 12), but only with the stock Files app.

[2021-11-15 20:46] alex19EP commented on #410
Duplicate of #187

[2021-11-15 20:46] #410 closed

[2021-11-15 20:47] alex19EP commented on #187
@beqabeqa473 can you fix this?

[2021-11-28 18:04] sergeyleschina commented on #60
In Debian, this package can also be named `libspeechd-dev`.

[2021-12-07 18:46] citizenserious commented on #24
I have found some voices including German, I use them with VocalizerEx2 TTS. They are working fine, but I do not trust VocalizerEx2. Would be nice to have these voices in RHVoice (:

https://vocalizer-nvda.com/downloads

[2021-12-07 19:36] zstanecic commented on #24
Not really! It will be the infringement of copyright, and it is not possible, because of the synthesis method.

From: citizenserious ***@***.***>
Sent: Tuesday, December 7, 2021 7:46 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [RHVoice/RHVoice] German Voice for RHVoice (#24)

I have found some voices including German, I use them with VocalizerEx2 TTS. They are work

[2021-12-23 21:57] JM480 opened #427 "Linux Mobile Support"
There should be an easy way to install this on mobile Linux devices like the Pinephone Pro. https://www.pine64.org/pinephonepro/

[2021-12-23 22:05] alex19EP commented on #427
I think this should be done by the distributions for these phones. Besides, no one version of linux for mobile is accessible for the blind, so the main development team will not be able to help you with this.
sorry.

[2021-12-23 22:05] #427 closed

[2021-12-28 16:32] savoptik opened #428 "I cannot build project on raspberry os"
Hello. I did everything according to the [instructions](https://github.com/RHVoice/RHVoice/blob/master/doc/en/Compiling-on-Linux.md), but after executing the ```$ scans```, I received an error, "src/include/core/config.h" was not found.

[2021-12-28 20:17] alex19EP commented on #428
please provide full scons output.

[2021-12-29 18:18] savoptik commented on #428
[code]

[2021-12-29 18:24] beqabeqa473 commented on #428
initialize submodule with git submodule update --init

On 12/29/21, Artem Semenov ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: https://instagram.com/beqa.gozalishvili

[2021-12-30 23:10] #428 closed

[2022-01-01 11:00] savoptik commented on #382
@alex19EP Could you please add this information to the build instructions?

[2022-01-03 15:50] Kommprog opened #431 "Обновление приложения на F-Droid"
Будет ли обновлен билд на f-droid? Там до сих пор лежит прошлогодняя [версия 1.2.3](https://f-droid.org/ru/packages/com.github.olga_yakovleva.rhvoice.android/), хотя уже прошло четыре недели с момента релиза новой версии.

[2022-01-07 09:43] AlexRK7 opened #434 "Support Mongolian language"
Hello!
We are official dealer of UCS Rkeeper products in Mongolia. And UCS products use RHVoice voice synthesizer. How can we cooperate to support Mongolian language?

[2022-01-07 10:46] alex19EP commented on #434
lets ask @Olga-Yakovleva

[2022-01-07 11:32] AlexRK7 commented on #434
Hello! @Olga-Yakovleva . How can we cooperate?

[2022-01-07 11:32] Olga-Yakovleva commented on #434
@AlexRK7 could you contact me privately by email? olga@rhvoice.org

[2022-01-07 13:09] Olga-Yakovleva commented on #434
Moved to a private discussion.

[2022-01-07 13:09] #434 closed

[2022-01-11 19:08] beqabeqa473 commented on #409
I think break tag should also process time attribute, as lots of software using ssml are passing time to tts.

@Olga-Yakovleva What do you think about that?

[2022-01-11 19:13] beqabeqa473 commented on #384
It is related to RHVoice python wrapper.
I think you should open an issue against https://github.com/Aculeasis/rhvoice-proxy

However at the time of my answer it supports 1.4.2

[2022-01-12 11:54] king-dahmanus opened #435 "supporting arabic"
Hey rhvoice devs and contributors. Can you tell me how I can make a dictionary for arabic, knwing that I'm not a developer? Does it require c++ programming? Can you site me to the documentation on how to do that? Thanks

[2022-01-12 11:58] zstanecic commented on #435
Hi!

For making a language, you need to know foma, and the data language structure. And you need to know the linguistic aspect.

You will need to create also the labelling and phonemes. You have for now the Albanian language as an example,  of the data only language. When it comes to foma, there is a foma regex reference. You will google for it.

From: king-dahmanus ***@***.***>
Sent: Wednesday, J

[2022-01-12 12:16] king-dahmanus commented on #435
where do I find the data only language files? I mean which repo are they in? Thanks

[2022-01-12 12:19] zstanecic commented on #435
These are found here, in the repo.

Paths are the following:

Binary:

/data/languages/Albanian

Sources: /src/scripts/Albanian

Best,

Zvonimir

From: king-dahmanus ***@***.***>
Sent: Wednesday, January 12, 2022 1:17 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Zvonimir Stanečić ***@***.***>; Comment ***@***.***>
Subject: Re: [RHVoice/RHVoice] supporting arabic (Issue #435)

where do I find the data o

[2022-01-12 12:23] king-dahmanus commented on #435
hhthanks, I'll try to learn from that. But wouldn't I find a problem supporting a complicated patterned language like arabic? Is there a possibility of adding a wordlist/dictionary and also the rules

[2022-01-12 12:25] zstanecic commented on #435
Yes, you can do this using finite state transducers.

From: king-dahmanus ***@***.***>
Sent: Wednesday, January 12, 2022 1:24 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Zvonimir Stanečić ***@***.***>; Comment ***@***.***>
Subject: Re: [RHVoice/RHVoice] supporting arabic (Issue #435)

hhthanks, I'll try to learn from that. But wouldn't I find a problem supporting a complicated patterned language like

[2022-01-12 12:44] king-dahmanus commented on #435
so can I learn them from the existing languages?

[2022-01-12 12:45] zstanecic commented on #435
You can see the examples and see, what you need to do for Arabic.

From: king-dahmanus ***@***.***>
Sent: Wednesday, January 12, 2022 1:44 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Zvonimir Stanečić ***@***.***>; Comment ***@***.***>
Subject: Re: [RHVoice/RHVoice] supporting arabic (Issue #435)

so can I learn them from the existing languages?

—
Reply to this email directly, view it on GitHub <http

[2022-01-12 12:48] king-dahmanus commented on #435
ok gotcha. If I wanna test the changes from source and or compile them as a prtable commandline test do I need a linux system? Cause I don't have that

[2022-01-12 12:50] zstanecic commented on #435
Wsl2 on windows 10 is enough.

Install on the Debian or ubuntu

Sudo apt install foma foma-bin

From: king-dahmanus ***@***.***>
Sent: Wednesday, January 12, 2022 1:49 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Zvonimir Stanečić ***@***.***>; Comment ***@***.***>
Subject: Re: [RHVoice/RHVoice] supporting arabic (Issue #435)

ok gotcha. If I wanna test the changes from source and or compile them as a

[2022-01-12 12:51] king-dahmanus commented on #435
so I only need to install that and somehow build it for windows on wsl?

[2022-01-13 13:08] MoonDragon-MD opened #437 "Please add Italian"
Hi is it possible to add the Italian language? I found this project based on festival, flite and mbrola:
https://www3.pd.istc.cnr.it/piero/FESTIVAL/home/download-FESTIVAL.htm
I think we can rely on those files to have the Italian language
Thanks

[2022-01-15 20:50] zstanecic opened #442 "Voice pitch in the polish voices"
Hi,
When the polish language was converted to the data only format, we have lost the pitch rised in the exclamation and interrogative sentences. We used the combination of pitchmod decision tree borrowed from macedonian, and the question tagger.
We also had the fragment of the code:
  void polish::post_lex(utterance& u) const
  {
    relation& sylstruct_rel=u.get_relation("SylStructure");
    for(

[2022-01-16 10:26] Olga-Yakovleva commented on #442
This issue was opened by my request, but I was wrong in making it. The fix needs to be implemented in the Polish language code, not in RHVoice. see #441 for more information. So closing.

[2022-01-16 10:26] #442 closed

[2022-01-16 21:05] #267 closed

[2022-01-18 07:15] grzezlo opened #444 "Magda, new Polish voice."
We prepared a voice for Polish language, based on recording of good-voiced female speaker in the professional studio.
All authors including the speaker, agreed to make it available for RHVoice, licensed under Creative Commons, no derivatives, non-commercial.

What should I do next?

Should I create the voice repo on my Github account and put the files there, creating a pull-request adding the voic

[2022-01-18 07:40] beqabeqa473 commented on #444
Hello.

Based on experience of creating voices and sound processing, which
most of the time could drasticly improve voice qualite, on behave of
RHVoice lab, we are glad to offer you collaboration.

If you agree, we can try to further improve voice quality based on our
experience, with help of our sound engineers and avoid some unpleasant
artefacts.

Thanks.

On 1/18/22, grzezlo ***@***.***> wrote:

[2022-01-18 09:33] alex19EP commented on #444
i will create repo in rhvoice org for you.

[2022-01-18 18:10] grzezlo commented on #444
@beqabeqa473 , thanks for your offer.
As I mentioned elsewhere, you helped us a lot at the beginning of RHVoice adventure and I'm very grateful for it.

The audio processing is done by my coleague, Roman. He would lose a lot of fun if he would give it to be done by others.

The voice sample I linked is few days old, since there we have added an equalizer improving the audio.
We've some other ideas

[2022-01-18 18:10] #444 closed

[2022-01-20 12:27] king-dahmanus opened #447 "voice building discussion, edited"
ok, so there was a new us english voice released on android, her name is lyubov. I consider her the best us voice ever available in rh voice. But when I checked for the windows packages, there's no lyubov for nvda or sapi. Why is that? And will you add this voice? Thanks

[2022-01-20 12:56] zstanecic commented on #447
Hi,

Lyubov is available here

https://www.rhvoice.su

[2022-01-20 13:59] king-dahmanus commented on #447
Thanks! I've got it! I wish I could make my own english voice :smiles:. Can I record some sentenses and send them to the team somehow so they can manually build my voice? Where do I find the required sentences to record? I want to ready the dataset so I can send it to the team so they can manuallly build it, as I don't have linux experience, good hardware etc?

[2022-01-20 16:14] #447 closed

[2022-01-20 16:43] king-dahmanus commented on #447
what does this change do?

[2022-01-20 17:16] king-dahmanus commented on #447
oh it justs adds a doc ok

[2022-01-29 09:48] paolo-caroni commented on #437
I'm interested too, but maybe it's too early.
The doc is in a revision state (https://github.com/RHVoice/RHVoice/issues/145#issuecomment-644899243).
When they have finisced probably would be easy to add new language/voice. Italian language it's not a simple language however.

[2022-01-29 14:51] MoonDragon-MD commented on #437
Yes, Italian is complex, but one can rely on already available "rules".
Thank you for putting it in the discussion.
I await the next developments!

[2022-01-29 19:19] grzezlo commented on #187
@beqabeqa473  Any progress about this issue?
I'm asking, because I can probably do it, or continue porting if you have some partial work done...

[2022-01-30 00:58] grzezlo commented on #187
I prepared the py3 upgrade and proper Training.pl call.
Also, the guess-f0-range fix, to use f0_method configured in training.cfg, not hard-coded "sptk_rapt".
After testing i'll send it as a pull request.

[2022-01-30 08:28] Olga-Yakovleva commented on #187
Thank you, @grzezlo. On the guess-f0-range fix though: do you have a practical reason for this? This is a very rough estimate, and sometimes not very good at that. It uses a very wide initial range, and any f0 extraction method will produce more errors in this situation. But the rough initial statistics shouldn't be too different, and rapt is the fastest. Let's say your speech corpus is large, and

[2022-01-30 09:11] zstanecic commented on #187
Hi olga,

Numbers are not minimal, I’ve tested with reaper, and f0 extracted using other methods are giving sometimes results worse than better.

Some methods, as you said handle some intonation cases differently, and reaper sometimes does the good job for us, for example, when we are talking about guessing f0 range.

Somebody who has good hearing, can confirm the difference with voices trained af

[2022-01-30 09:41] Olga-Yakovleva commented on #187
OK, but then I'd prfer to have those two settings separate, not to
switch things back and forth for different tasks if I don't want to use
the same method for both. So, could you please introduce something like
guess_f0_method setting?

[2022-01-30 10:48] grzezlo commented on #187
Thanks @Olga-Yakovleva for guess-f0 clarifications.
I was sure, that for logical reasons, the f0-extraction method should be identical as method used in F0 guessing.
Your points makes sense.
It's my mistake to do different things in one PR, I'll restore the default sptk_rapt in guess-f0, and maybe introduce the guess_f0_method for ease of experimenting, in separate PR.
Returning to Py3 conversion:

[2022-02-02 02:56] JonnyTech opened #458 "Bug: v1.7.x onwards not recognised by Magic Earth"
The Magic Earth navigation app does not recognise RHVoice v1.7.x as a TTS voice provider.

Screenshots using v1.6.0

![160about](https://user-images.githubusercontent.com/3584732/152085657-85da4a5b-fdc6-4444-a165-79946e8bab00.png)
![160tts](https://user-images.githubusercontent.com/3584732/152085681-2569a34e-ac6f-4311-9b99-7b3b8641e00a.png)
![160me](https://user-images.githubusercontent.com/358473

[2022-02-02 12:00] Olga-Yakovleva commented on #187
I am never sure about this text mode business myself, to be honest. I
don't think Linux system itself does anything special in text mode. I
seem to remember Windows may do something related to new lines. But this
will be run on Linux, so it shouldn't create any issues I think.

[2022-02-02 12:32] #187 closed

[2022-02-14 07:01] bomzhellino opened #476 "Не работает замена (оператор "=") в пользовательском словаре, если заменяемое слово не содержит гласных"
Версия RHVoice: 1.6.1, Android 11.
Делаю словарь расшифровки сокращений. Если в сокращении есть гласная буква, то замена происходит корректно. Если же только согласные буквы, то замены нет.
Например:
Ит=итерация — читает правильно
Трн=транзакция — читает "тээрэн"
См=смотри —  читает "эсэм"
Смо=смотри — читает "смотри".

[2022-02-15 06:15] beqabeqa473 opened #477 "RHVoice wrapper for dotnet projects"
Hello all.

For those who want to use RHVoice in their dotnet projects, i've created a interrop library to simply use it where possible.

Currently it supports only windows OS.

it could be found at
https://github.com/beqabeqa473/RHVoice-cs-wrapper

Pull requests and issues are welcome to be opened.

[2022-02-22 08:18] btman16 opened #482 "Support For The English RMS Voice"
Hello,

I'm using the RH Voice add-on with the NVDA screen reader and think this synthesizer definitely has a lot of potential.

It's very fast and responsive and it's nice to see that this is being actively worked on.

The English support offers the ability to use the Bdl voice which is very good. There is another voice which is part of that same set called RMS which is also another very good Eng

[2022-02-22 13:14] beqabeqa473 commented on #482
Hello.

I think we at RHVoice lab could try to train this voice, but the problem is that i wasn't able to find high quality dataset for that voice, only 16-khz

[2022-02-22 14:05] btman16 commented on #482
Hello,

I think that it wouldn't sound bad if you were to try and train it
with the data even though it's only at 16 kHZ. The reason I think this
would be ok is that another synthesizer, MaryTTS, also uses this
voice, and at least when I hear that, it sounds like a very similar
synthesis method to what RH Voice is doing.

Thanks again for the quick response and I look forward to any input
you may

[2022-02-22 16:57] zstanecic commented on #482
Hi Beqa,

Let me try to find it and train it.

At least, there should be 32 k original version.

[2022-02-22 19:22] beqabeqa473 commented on #482
As i said, there is no other versions on festival website.

On 2/22/22, Zvonimir Stanečić ***@***.***> wrote:

--
with best regards Beqa Gozalishvili
Tell: +995593454005
Email: ***@***.***
Web: https://gozaltech.org
Skype: beqabeqa473
Telegram: https://t.me/gozaltech
facebook: https://facebook.com/gozaltech
twitter: https://twitter.com/beqabeqa473
Instagram: https://instagram.com/beqa.gozalishvili

[2022-02-22 19:50] zstanecic commented on #482
One small hint:

During the training, you cannot apply world. During resynthesis, you will get only distorted buzzing.

Only old vocoder works there.

From: Beqa Gozalishvili ***@***.***>
Sent: Tuesday, February 22, 2022 8:22 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Zvonimir Stanečić ***@***.***>; Comment ***@***.***>
Subject: Re: [RHVoice/RHVoice] Support For The English RMS Voice (Issue #482)

As

[2022-02-22 19:59] TheQuinbox opened #483 "Unable to use on NVDA"
Hi,
I attempted to install this addon to use with the NVDA screen reader, and it installed fine. But when attempting to select it in the synth dialog, I get an error. The following is written to the log:
[code]
NVDA version 2021.3.3, Windows 10 64-bit.
Any ideas? I've seen a few of my friends install and use it with no issue, although I don't know what version of NVDA they were using.

[2022-02-22 20:01] zstanecic commented on #483
Hi!

Have you installed any voice?

Driver with addon is insufficient.

[2022-02-22 20:17] TheQuinbox commented on #483
Yeah, I just saw that. I feel kind of stupid now, although that fact should probably be made a bit clearer on the binaries page, where I got this addon from.

[2022-02-22 20:17] #483 closed

[2022-02-22 20:25] TheQuinbox opened #484 "Delayed indentation announcements with NVDA"
When focusing a text field where the current line is indented, it's convention to have NVDA beep for the indentation right away, not after it reads the field's name. I don't know what RHVoice is doing different from other synths, but if you want to see an example of a SynthDriver that does it right, see https://github.com/davidacm/NVDA-IBMTTS-Driver

[2022-02-22 20:28] TheQuinbox opened #485 "Settings Ring is in the wrong order"
Hi,
With every NVDA SynthDriver with rate boost (espeak, Windows OneCore, etc) the rate boost option is right after the rate in the settings ring (NVDA+Control+Shift+Arrows), and not at the very end. Because of RHVoice having it where it is, it took me a minute to find. It would be great if this could be changed.

[2022-02-22 21:34] TheQuinbox opened #486 "Improper reading of times with prepended 0s."
If you have a time, such as:
2:30 PM
RHVoice reads it fine. Buf if you have:
02:30 PM
It reads the be4ginning 0, not just 2. This should not be the case, as it makes reading time more confusing.

[2022-02-22 21:46] TheQuinbox opened #487 "RHVoice doesn't read questionmarks (?), no matter the context."
RHVoice seems to totally ignore questionmarks (?), and treat them like periods. This shouldn't be the case. However, I believe in english, there are certain contexts when you wouldn't want the inflection to change after a questionmark. I have no idea the rules on that, and a lot of synths get it wrong, but think it's at least worth mentioning.

[2022-02-22 21:57] TheQuinbox opened #488 "RHVoice treats exclamation marks like periods"
Somewhat related to #487.
The same exact issue occurs as described in #487, accept with exclamation marks (!), not question marks.

[2022-02-23 17:06] TheQuinbox commented on #484
Actually, this turned out to be a bug with a specific speech synth, not a feature. Closing as such.

[2022-02-23 17:06] #484 closed

[2022-02-23 17:09] TheQuinbox opened #489 "Lengthen pauses for commas"
RHVoice's pauses for commas are way too short for my liking (you hardly even hear them). I think it would be great if this could be increased by at least a little bit.

[2022-02-23 21:52] #485 closed

[2022-02-24 17:27] datajake1999 commented on #482
Isn't the training data for some of the other voices such as BDL 16 K?

[2022-02-25 09:52] paolo-caroni commented on #437
It would seem that I am not up to date, there is a guide for adding new entries and new languages in the
[wiki](https://github.com/RHVoice/RHVoice/wiki/Creating-a-new-voice-for-RHVoice.).
I apologize for being misleading.

[2022-02-26 10:40] elnursamedzade opened #494 "Failed to compile under windows."
Hello again.
Compilation fails under Windows.
I am getting the following output:

scons: Reading SConscript files ...
Mkdir("build\windows")
Checking for WiX toolset(cached) yes
Checking for NSIS(cached) yes
Mkdir("build\windows\x86")
Configuring the build system for x86
Checking for Visual C++ ... (cached) yes
Visual C++ version is 14.0
Checking whether the C compiler works... (cached) yes
Checki

[2022-02-26 10:43] zstanecic commented on #494
You need to add poedit tools to path.

[2022-02-26 11:05] elnursamedzade commented on #494
@zstanecic thank you for your quick response.
Worked!

[2022-02-26 11:05] #494 closed

[2022-02-26 11:16] elnursamedzade opened #495 "Error with windows."
Hi.
Sorry to come with a new problem.
When compiling on Windows I get the following error:

src\sapi\ISpTTSEngineImpl.cpp(69): error C2059: syntax error: '<L_ATTRIBUTE_SPECIFIER>'
src\sapi\ISpTTSEngineImpl.cpp(70): error C2143: syntax error: missing ';' before '{'
src\sapi\ISpTTSEngineImpl.cpp(70): error C2447: '{': missing function header (old-style formal list?)
src\sapi\ISpTTSEngineImpl.cpp(91)

[2022-02-26 11:32] zstanecic commented on #495
Which branch do you try to compile?

From: elnursamedzade ***@***.***>
Sent: Saturday, February 26, 2022 12:16 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [RHVoice/RHVoice] Error with windows. (Issue #495)

Hi.
Sorry to come with a new problem.
When compiling on Windows I get the following error:

src\sapi\ISpTTSEngineImpl.cpp(69): error C2059: syntax error: '<L_ATTRIB

[2022-02-26 11:40] elnursamedzade commented on #495
I just did this:
  scons dev=True
  And I got the above error.
  I want to generate all nvda and SAPI voices.

[2022-02-27 07:19] elnursamedzade commented on #495
I updated to VS 2022 and the problem was solved.

[2022-02-27 07:19] #495 closed

[2022-02-27 13:07] TheQuinbox opened #497 "Global list of mispronounced words"
I'm not sure how easy many of these would be to fix, because I'm not entirely sure how the voice processing works, but figured I'd at least start this. A list of words that RHVoice says wrong, with the way I had to add them to my NVDA  dictionary to make them say properly. Feel free to add more:

* [ ] Kylie -> Kylee
* [ ] Integer -> intijer
* [ ] Jaylin -> Jhaylin
* [ ] Gibberish -> jibberish
* [

[2022-02-27 13:08] TheQuinbox opened #498 "Add dictionary support."
Would close #497
If RHVoice had dictionary support, people like me could publish a dictionary file to fix all the mispronounced words, without the main code having to be modified.

[2022-03-01 09:27] paolo-caroni commented on #437
regarding the reuse of datasets, the Italian language is released under the GPLv2 only license. This creates problems of accounting with MAGE (see License on README).
The Italian language could be released separately, or it would be necessary to start from scratch and create a new voice.
If I want I am available to donate my voice under GPLv3 +.
But I am totally ignorant of how to do it, I have re

[2022-03-03 10:17] zstanecic opened #499 "Ukrainian and russian languages: exclamation sentences and interrogative sentences are not fully supported"
Subject of the issue says it all. In russian and ukrainian languages, the interrogative and exclamation sentences are not supported. Russian supports these partly, but not in all contexts, where the question mark appears.
Macedonian language solved this problem very effectively.
The same thing to resolve the problem in polish is copied, because the accent and language structure allowed us to do it

[2022-03-05 15:54] MoonDragon-MD commented on #437
Thank you, I still have to look at the guide, as soon as I try I'll let you know !

[2022-03-15 15:37] zstanecic commented on #194
@alex19ep

Should this be converted to submodule?

 ***@***.***> @Olga-Yakovleva/RHVoice

From: Branislav Gerazov ***@***.***>
Sent: Tuesday, March 15, 2022 4:14 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [RHVoice/RHVoice] Added Macedonian voice Suze (PR #506)

  _____

You can view, comment on, or merge this pull request online at:

  https://github.com/RHVoice/RHVoi

[2022-03-19 13:20] andrei-a-papou opened #510 "Not working on LineageOS 18.1 + OsmAnd"
First off, thank you for this project.

I'd love to use it on Android, but unfortunately can't at this time. The APK from F-Droid (v1.6.0) installs fine, but I trying to even set a language under standard Android settings crashes the Settings app.

![image](https://user-images.githubusercontent.com/30468319/159122586-97b22bde-7a9a-4a97-b4a1-76abbe1c3a0d.png)

Also, speech rate and pitch sliders ar

[2022-03-19 14:02] zstanecic commented on #510
Hi Andrei!

Which language are you trying to load?

Have you downloaded the language data from the app?

[2022-03-19 14:15] andrei-a-papou commented on #510
Hi @zstanecic, I've downloaded and enabled Russian (Anna) and English (Evgeniy-Eng). I've tested the voices within the app to confirm they work there.

[2022-03-19 14:36] alex19EP commented on #510
hmm. RHVoice works fine on my  girlfriend's phone with LineageOS installed.

Also, since most rhvoice developers are blind, you need to replace the screenshots with text.

[2022-03-19 14:48] andrei-a-papou commented on #510
Alex, thanks for the answer and the clarification. I'll add text to the screenshots. In the meantime, could you tell me your girlfriend's LineageOS version as well as her phone model?

[2022-03-19 15:10] alex19EP commented on #510
hello. LOS 18.1 build by me last month. she uses one plus 6.

just in case. can you test another apk. for example from google play or apk mirror?

[2022-03-19 16:11] zstanecic commented on #510
Or download the app from the latest master artifacts.

Some people told me, that this app works eve nbetter.

From: Alexander Epaneshnikov ***@***.***>
Sent: Saturday, March 19, 2022 4:11 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Zvonimir Stanečić ***@***.***>; Mention ***@***.***>
Subject: Re: [RHVoice/RHVoice] LineageOS 18.1 support (Issue #510)

hello. LOS 18.1 build by me last month. she uses on

[2022-03-20 14:02] zstanecic commented on #482
Yes, bdl was trained using 16 K. I am preparing a fix for this issue. I am experimenting with some things.

[2022-03-20 16:13] king-dahmanus opened #511 "replacing hts"
Hey devs. I've hird that hts is hard to train, but at the same time, I've been told that clustergen, the hts equivalent found in festival/festvox, is much more straightforward. Is its licence free enough to replace the existing hts implimentation, or at least improve the quality of hts? Thanks

[2022-03-20 16:31] Olga-Yakovleva commented on #511
I see no advantage in switching to Clustergen.

[2022-03-20 16:31] #511 closed

[2022-03-20 17:28] king-dahmanus commented on #511
so is this part where the voices are considerably harder to train true? I'm
talking about the part where the more data you add, the more problems pop
up and you have to find a balance between consistency and clearness.
Someone who's very experienced with festvox/festival told me that
cklustergen is easier and that it doesn't have such a phenomenon

On Sun, 20 Mar 2022 at 17:32, Olga Yakovleva ***@

[2022-03-20 23:20] andrei-a-papou commented on #510
I think I figured it out. My objective was to make RHVoice work with OsmAnd. I was constantly getting a "cannot start TTS engine" error.

Below i how I solved it.

To make RHVoice work with OsmAnd on LineageOS, follow these steps:
    - install eSpeak NG (eSpeak NG_1.51-dev.apk)
    - install RHVoice (RHVoice-v1.6.1.apk)
    - configure RHVoice, download voices, etc
    - go to "Settings > Accessi

[2022-03-20 23:22] #510 closed

[2022-03-20 23:23] andrei-a-papou commented on #510
The Russian voices are of good quality, I'm using them in OsmAnd now and it's great for my needs. Thanks team for the awesome work!

[2022-03-20 23:25] andrei-a-papou opened #513 "High-quality English (US) voices?"
There appears to be a high-quality female voice from Google, please take a look at https://github.com/espeak-ng/espeak-ng/issues/1090

Can this be integrated with RHVoice?

[2022-03-20 23:39] alex19EP commented on #510
I'm glad you were able to resolve this issue. it also explains why neither I nor my girlfriend weren't able to repeat this problem. we are both blind and of course we have several tts installed and more
over, google-tts started working even before the phone was set up.

[2022-03-20 23:40] alex19EP commented on #513
sorry but no. moreover, even if it were possible, the legality of this raises big questions.

[2022-03-20 23:40] #513 closed

[2022-03-21 06:36] king-dahmanus commented on #513
it is based on hts, just like rhvoice, but I guess google modified hts to
make it sound much beter. Also it's closed sourced so yeah

On Mon, 21 Mar 2022 at 00:40, Alexander Epaneshnikov <
***@***.***> wrote:

[2022-03-21 11:43] Olga-Yakovleva opened #515 "segmentation fault (core dumped) on Georgian language"
### Discussed in https://github.com/RHVoice/RHVoice/discussions/514

<div type='discussions-op-text'>

<sup>Originally posted by **DavidTbilisi** March 21, 2022</sup>
![image](https://user-images.githubusercontent.com/14097493/159252865-8fe08141-183b-4641-a857-8e2eafc0df10.png)
Hello, I have used Georgian language, but after I suppose last update it gives me segmentation fault.
Can someone help me

[2022-03-21 11:46] Olga-Yakovleva commented on #515
@DavidTbilisi, Please list the exact steps to reproduce, including the input text. Please no images: they are useless to us blind developers.

[2022-03-21 11:57] DavidTbilisi commented on #515
I'm really sorry.

I have installed Georgian, English, Russian packages.
Russian and English packages are working fine when I type:
echo "Hello I'm speech syntezator" |  RHVoice-test -p clb
and
echo "Привет я синтезатор речи" |  RHVoice-test -p aleksandr-hq
but when I type the same in Georgian
echo "გამარჯობა მე საუბრის სინტესატორი ვარ" |  RHVoice-test -p natia
it prints "segmentation fault (core

[2022-03-21 14:19] #515 closed

[2022-03-22 10:06] zstanecic opened #517 "android: android building on windows is intermittently failing"
This error persists with alpha and dev packages as known by me:
when i try to compile, i get:
1 warning generated.
  C:/RHVoice/src/android/RHVoice-core/src/main/jni/../../../../../pkg/package_client.cpp:124:22: error: use of undeclare
d identifier 'https'
                       PKG_DIR_URL,
                       ^
  <command line>:3:21: note: expanded from here
  #define PKG_DIR_URL https://rhvo

[2022-03-22 11:09] Olga-Yakovleva commented on #517
See this line in src/android/RHVoice-core/build.gradle:

ext.pkg_dir_url_def_fmt=/-DPKG_DIR_URL='"%s"'/

The command-line definition needs to include quotes. This works on
Linux. But my knowledge of Windows command-line is basically
non-existent. Any advice how to make this work on both platforms is welcome.

[2022-03-23 06:28] rubens-schmitz opened #521 "RHVoice as a library"
First of all, Olga, you're a hero, big thanks to you and everyone involved.

I would like to know how to use RHVoice as a library, after it had been installed. I tried many ways but always get "undefined reference". I'm a C++ beginner so I might be missing something basic.

I'm using RHVoice on personal projects[0], the stack is Debian 10 and Qt 5. I've made a package[1] with a modified test.cpp[2

[2022-03-24 21:26] andrei-a-papou opened #524 "Backup fails due to quota issues"
I'm using RHVoice on LineageOS with Seedvault backup built in.

If I download 3 or more voices, the app storage goes over 50 MB and the app is consequently not backed up by Seedvault, which has a quota of 50 MB per app.

From what I understand (https://github.com/seedvault-app/seedvault/issues/183), apps can mark some of their files to not be included in the backup (like downloaded voices). In add

[2022-03-26 21:15] samuk opened #529 "Android: Allow external SD use"
So in my use case, I'm looking to distribute a lot of .PDF files and a [PDF reader](https://f-droid.org/en/packages/com.foobnix.pro.pdf.reader/) offline via SDcard: https://rosettaphone.org/

RH voice works really nicely except it requires internet access to download the voice files. I can include them on the SD, but then I need to get non-technical people to move them to the correct internal stor

[2022-03-28 18:01] FinixFighter opened #531 "SLT voice too fast in Organic Maps"
Hi! I tried using SLT voice in Organic Maps, but the voice is too fast! Other voices (like CLB for instance) work normally. All voices have been tested with the same settings (same speed and pitch), which were set on the default settings of Android.
Test was done on a Samsung Galaxy A40, Android 11, with RHVoice 1.6.1 (download from Google Play Store).

[2022-03-28 18:20] zstanecic commented on #531
Hi!

Can you provide audio clips of this and a detailed steps to reproduce?

And, have you used a config file to maximally tune the speech?

From: FinixFighter ***@***.***>
Sent: Monday, March 28, 2022 8:01 PM
To: RHVoice/RHVoice ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [RHVoice/RHVoice] SLT voice too fast in Organic Maps (Issue #531)

Hi! I tried using SLT voice in Organic Maps, but the

[2022-03-31 13:24] elnursamedzade opened #533 "User dictionary"
Hi!

How can I add the user dictionary?
I add the %appdata%/RHVoice/dicts/%lang%/dict.txt file, it doesn't give any results.
I add userdict/src/dict.txt file in the directory with language files, still no result.
The last setting only works in Polish and Brazilian-Portuguese. How should I adapt this to other languages?

[2022-04-05 17:25] elnursamedzade opened #536 "Task :RHVoice-core:buildNdkBuildDebug[arm64-v8a]-2 FAILED"
Hi!
Under windows, when compiling for android I get the following error:

C/C++: D:/RHVoice/src/android/RHVoice-core/src/main/jni/../../../../../pkg/package_client.cpp:124:22: error: use of undeclared identifier 'https'
C/C++:                      PKG_DIR_URL,
C/C++:                      ^
C/C++: <command line>:3:21: note: expanded from here
C/C++: #define PKG_DIR_URL https://rhvoice.org/download/